<link id="bs-css" href="<?= BASE_URL ?>css/bootstrap-table.css" rel="stylesheet">
<script src="<?= BASE_URL ?>js/bootstrap-table.js"></script>
<a href='<?= BASE_URL . "admin/showattributes/create"; ?>' ><button>Crea nuovo attributo</button></a>
<table id="events-table" data-toggle="table" data-url="<?= BASE_URL . "admin/showattributes/jsonrender" ?>" data-click-to-select="true" data-cache="false" data-height="300px" data-show-columns="true" data-search="false" data-select-item-name="toolbar1" data-side-pagination="server" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]">
    <thead>
        <tr>
            <?php
            foreach ($this->attributes as $_attribute) {
                if ($_attribute != "content" && $_attribute != "category_id")
                    echo "<th data-field='" . $_attribute . "' data-sortable=\"true\" class='cliccable'>" . $_attribute . "</th>";
            }
            ?>
        </tr>
    </thead>
</table>
<script>
    $(function () {
        $("#events-table").on('click-row.bs.table', function (e, row, $element) {
            window.location.href = "<?= BASE_URL . "admin/showattributes/update/attribute_id/" ?>" + row.attribute_id;
        });
    });
</script>