<?php
/**
 * Pagina per la gestione dei blocchi di pagina
 * @author Walter Fato <walter.fato@thinkopen.it>
 */
?>
<script>
    $(document).ready(function () {
        $("#salva").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var lay = $("#sceltaLayout").val();
            var conttype = $("#sceltaContentType").val();
            $(".required_entry").each(function () {
                if ($(this).val() == "") {
                    alert("Il campo '" + $(this).prev().text() + "' deve essere valorizzato");
                    $.die();
                }
            });
            $("#formpage").submit();
        });


        $("#navbarblocchi li").click(function () {
            if ($(this).attr("id") == "tab_generali") {
                $(this).addClass("active");
                $("#tab_blocchi").removeClass("active");
                $("#contenttypecontenitor").hide("slow");
                $("#generale").show("slow");
            }
            if ($(this).attr("id") == "tab_blocchi") {
                $(this).addClass("active");
                $("#tab_generali").removeClass("active");
                $("#generale").hide("slow");
                $("#contenttypecontenitor").show();
            }
        });
    });
</script> 

<div class="content">
    <?php if ($this->newPage) { ?>
        <div class='page-header'>
            <h3>Informazioni Generali</h3>
        </div>
        <div class="row col-lg-12">
            <form method="post" id='formpage' action="<?= $this->url("*/showattributes/save"); ?>"class="form-horizontal">
                <div class="col-lg-10">
                    <div class='form-group '>
                        <label class='col-sm-3 col-md-3 col-lg-3' >Layout</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <select class="form-control required_entry" name ='attribute_type' id='sceltaLayout'>
                                <option value=''>Tipologia attributo</option>
                                <option value='date'>Data</option>
                                <option value='int'>Intero</option>
                                <option value='text'>Testo libero</option>
                                <option value='varchar'>Testo (max. 255 caratteri)</option>
                            </select>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3' >Nome attributo (interno)</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <input name="attribute_name" type="text" class='form-control required_entry'  />
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3' >Nome attributo front-end</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <input name="attribute_label" type="text" class='form-control required_entry'  />
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Visibile in front-end</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <input name="is_visible" type="checkbox" class='form-control'  />
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Utilizzato nella ricerca</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <input name="is_searchable" type="checkbox" class='form-control'  />
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Attributo obbligatorio</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <input name="is_required" type="checkbox" class='form-control'  />
                        </div>
                    </div>
                </div>
                <div class="row col-lg-2" style="margin-top: 20px">
                    <input id='salva' class='btn btn-default alert alert-success' type="submit" value="Salva attributo"/>
                </div>
            </form>
        </div>
        <?php
    } else {
        $modelpage = $this->data;
        ?>
        <h2>Attributo : <?= $modelpage->getAttribute_label() ?></h2>
        <div class="row col-lg-12">
            <form method="post" id='formpage' action="<?= $this->url("*/showattributes/save"); ?>"class="form-horizontal">
                <input type='hidden' value='<?= $modelpage->getAttribute_id() ?>' name='attribute_id'>
                <div class="col-lg-10">
                    <div class='form-group '>
                        <label class='col-sm-3 col-md-3 col-lg-3' >Tipo attributo</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <span class='input-group-addon'><?= $modelpage->getAttribute_type() ?></span>
                        </div>
                        <input type='hidden' value='<?= $modelpage->getAttribute_type() ?>' name='attribute_type'>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3' >Nome attributo</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <input name="attribute_name" type="text" class='form-control required_entry' value="<?= $modelpage->getAttribute_name(); ?>" />
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3' >Nome attributo front-end</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <input name="attribute_label" type="text" class='form-control required_entry' value="<?= $modelpage->getAttribute_label(); ?>" />
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Visibile in front-end</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <input name="is_visible" type="checkbox" class='form-control' <?= $modelpage->getIs_visible() ? "checked" : NULL ?> />
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Utilizzato nella ricerca</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <input name="is_searchable" type="checkbox" class='form-control' <?= $modelpage->getIs_searchable() ? "checked" : NULL ?> />
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Attributo obbligatorio</label>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <input name="is_required" type="checkbox" class='form-control' <?= $modelpage->getIs_required() ? "checked" : NULL ?> />
                        </div>
                    </div>
                </div>
                <div class="row col-lg-2" style="margin-top: 20px">
                    <input id='salva' class='btn btn-default alert alert-success' type="submit" value="Salva attributo"/>
                </div>
            </form>
        </div>
        <?php
        $array = array();
        $array['attribute_id'] = $modelpage->getAttribute_id();
        if ($this->codeResponse) {
            $array['codeResponse'] = $this->codeResponse;
        }
    }
    ?>
</div>
