<link id="bs-css" href="<?= BASE_URL ?>css/bootstrap-table.css" rel="stylesheet">
<script src="<?= BASE_URL ?>js/bootstrap-table.js"></script>
<a href='<?= BASE_URL . "admin/home/create"; ?>' ><button class="btn btn-sm alert-info">Crea Nuova Home</button></a>
<table id="events-table" data-toggle="table" data-url="<?= BASE_URL . "admin/home/jsonrender" ?>" data-click-to-select="true" data-cache="false" data-height="300px" data-show-columns="true" data-search="false" data-select-item-name="toolbar1" data-side-pagination="server" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]">
    <thead>
        <tr>
            <?php
            $array_no_fields = array( "slide","phrase_uno","bg_image_uno","phrase_due","bg_image_due","phrase_tre","bg_image_tre","phrase_quattro","bg_image_quattro");
            foreach ($this->attributes as $_attribute) {
                if (!in_array($_attribute, $array_no_fields)) {
                    echo "<th data-field='" . $_attribute . "' data-sortable=\"true\" class='cliccable'>" . $_attribute . "</th>";
                }
            }
            ?>
        </tr>
    </thead>
</table>
<script>
    $(function () {
        $("#events-table").on('click-row.bs.table', function (e, row, $element) {
            window.location.href = "<?= BASE_URL . "admin/home/update?home_id=" ?>" + row.home_id + "&language=" + row.language;
        });
    });
</script>