<?php
/**
 * Pagina per la gestione dei home
 * @author Walter Fato <walter.fato@thinkopen.it>
 */
$modelHome = ($this->modelhome) ? $this->modelhome : false;
$lang = $this->language;
?>
<?= $this->render("layout/imagetool.php"); ?>
<?= $this->render("layout/tinyMCE_include.phtml"); ?>
<script>
    $(document).ready(function () {
        $("#salva").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(".required_entry").each(function () {
                if ($(this).val() == "") {
                    alert("Il campo '" + $(this).parent().prev("label").text() + "' deve essere valorizzato");
                    $.die();
                }
            });
            $("#div_xml input").each(function () {
                var valore = $(this).val();
                if (valore.indexOf("'") != -1 || valore.indexOf("\"") != -1 || valore.indexOf("&") != -1 || valore.indexOf("<") != -1 || valore.indexOf(">") != -1) {
                    alert("I campi dello slider non possono contenere i seguenti caratteri: & \" \' < > ");
                    $.die();
                }
            });
            $("#formhome").submit();
        });
    });
</script> 

<div class="content">
     <a href='<?= BASE_URL . "admin/home"; ?>' ><button class='btn btn-sm alert-info'>Gestione Home</button></a>
    <?php
    if ($this->codeResponse) {
        echo"<div class='row col-lg-12'";
        if ($this->codeResponse == "200") {
            echo" style='border:2px solid green; color:green;'>";
            echo "Home salvato con successo";
        } else {
            echo " style='border:2px solid red; color:red;'>";
            echo "Errore in fase di salvataggio.<br>";
            echo $this->messageResponse;
        }
        echo "</div>";
    }
    ?>
    <h2 style="text-align: center">Gestione Home</h2>
    <hr>
    <div class="row col-lg-12" id="generale">
        <form method="post" id='formhome' action="<?= $this->url("*/home/save"); ?>" class="form-horizontal">
            <?php if ($modelHome) { ?>
                <input type='hidden' id="home_id" value='<?= $modelHome->getHome_id() ?>' name='home_id'>
            <?php } ?>
            <div class="col-lg-10">
                <div class='form-group'>
                    <label for="lingua" class="col-sm-2 col-md-2 col-lg-2 control-label">Seleziona Lingua</label>
                    <div class="col-sm-5 col-md-8 col-lg-8">
                        <select class="form-control" name ='language' id='select_language' >
                            <?php
                            foreach (Top::getLanguages(true) as $value => $label) {
                                if ($lang) {
                                    ?>
                                    <option value='<?= $value ?>' <?= ($lang == $value) ? "selected" : ""; ?> ><?= $label ?></option>
                                    <?php
                                } else {
                                    ?>
                                    <option value='<?= $value ?>' <?= ($value == "it") ? "selected" : ""; ?> ><?= $label ?></option>
                                    <?php
                                }
                            }
                            ?>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 center">Blocco 1</div>
                <div class='form-group'>
                    <label for="immaginesfondo" class="col-sm-2 col-md-2 col-lg-2 control-label">Immagine di background</label>
                    <div class="col-sm-5 col-md-8 col-lg-8">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button name="imagebutton" class="btn btn-default imageputter" data-idtarget="bg_image_uno">Seleziona</button>
                            </span>
                            <input name="bg_image_uno" id="bg_image_uno" type="text" class='form-control required_entry' <?= ($modelHome) ? "value='" . $modelHome->getBg_image_uno() . "'" : "" ?> />
                        </div>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>"?>
                </div>
                <div class='form-group'>
                    <label for="fraseeffetto" class="col-sm-2 col-md-2 col-lg-2 control-label">Frase effetto</label> 
                    <div class="col-sm-9 col-md-9 col-lg-9">
                       <textarea class='tiny_normal' name="phrase_uno" type="text" class='form-control required_entry'> <?= ($modelHome) ? $modelHome->getPhrase_uno() : "" ?></textarea>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*</div>"?>
                </div>
                <hr>
                <div class="col-sm-12 col-md-12 col-lg-12 center">Blocco2</div>
                <div class='form-group'>
                    <label for="immaginesfondo" class="col-sm-2 col-md-2 col-lg-2 control-label">Immagine di background</label>
                    <div class="col-sm-5 col-md-8 col-lg-8">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button name="imagebutton" class="btn btn-default imageputter" data-idtarget="bg_image_due">Seleziona</button>
                            </span>
                            <input name="bg_image_due" id="bg_image_due" type="text" class='form-control required_entry' <?= ($modelHome) ? "value='" . $modelHome->getBg_image_due() . "'" : "" ?> />
                        </div>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>"?>
                </div>
                <div class='form-group'>
                    <label for="fraseeffetto" class="col-sm-2 col-md-2 col-lg-2 control-label">Frase effetto</label> 
                    <div class="col-sm-9 col-md-9 col-lg-9">
                       <textarea class='tiny_normal' name="phrase_due" type="text" class='form-control required_entry'> <?= ($modelHome) ? $modelHome->getPhrase_due() : "" ?></textarea>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*</div>"?>
                </div>
                <hr>
                <div class="col-sm-12 col-md-12 col-lg-12 center">Blocco 3</div>
                <div class='form-group'>
                    <label for="immaginesfondo" class="col-sm-2 col-md-2 col-lg-2 control-label">Immagine di background</label>
                    <div class="col-sm-5 col-md-8 col-lg-8">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button name="imagebutton" class="btn btn-default imageputter" data-idtarget="bg_image_tre">Seleziona</button>
                            </span>
                            <input name="bg_image_tre" id="bg_image_tre" type="text" class='form-control required_entry' <?= ($modelHome) ? "value='" . $modelHome->getBg_image_tre() . "'" : "" ?> />
                        </div>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>"?>
                </div>
                <div class='form-group'>
                    <label for="fraseeffetto" class="col-sm-2 col-md-2 col-lg-2 control-label">Frase effetto</label> 
                    <div class="col-sm-9 col-md-9 col-lg-9">
                       <textarea class='tiny_normal' name="phrase_tre" type="text" class='form-control required_entry'> <?= ($modelHome) ? $modelHome->getPhrase_tre() : "" ?></textarea>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*</div>"?>
                </div>
                <hr>
                <div class="col-sm-12 col-md-12 col-lg-12 center">Blocco 4</div>
                <div class='form-group'>
                    <label for="immaginesfondo" class="col-sm-2 col-md-2 col-lg-2 control-label">Immagine di background</label>
                    <div class="col-sm-5 col-md-8 col-lg-8">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button name="imagebutton" class="btn btn-default imageputter" data-idtarget="bg_image_quattro">Seleziona</button>
                            </span>
                            <input name="bg_image_quattro" id="bg_image_quattro" type="text" class='form-control required_entry' <?= ($modelHome) ? "value='" . $modelHome->getBg_image_quattro() . "'" : "" ?> />
                        </div>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>"?>
                </div>
                <div class='form-group'>
                    <label for="fraseeffetto" class="col-sm-2 col-md-2 col-lg-2 control-label">Frase effetto</label> 
                    <div class="col-sm-9 col-md-9 col-lg-9">
                       <textarea class='tiny_normal' name="phrase_quattro" type="text" class='form-control required_entry'> <?= ($modelHome) ? $modelHome->getPhrase_quattro() : "" ?></textarea>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*</div>"?>
                </div>
                <div class="row col-lg-12">
                    <h2>Gestione Carousel</h2>
                    <button  id='addParent' class="btn btn-default alert alert-info " >Aggiungi Slide</button>
                    <div id='div_xml'>
                        <?php
                        if ($this->slide != "") {
                            echo $this->slide;
                        }
                        ?>
                    </div>
                </div>
            </div>
            <div class="row col-lg-2" style="margin: 20px auto;" >
                <?php if ($modelHome) { ?>
                    <input id='delete' class='btn btn-default alert alert-danger' type="submit" value="Elimina Home"/>
                <?php } ?>
                <input id='salva' class='btn btn-default alert alert-success' type="submit" value="Salva Home"/>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#delete").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#formhome").attr("action", "<?= $this->url("*/home/delete") ?>");
            $("#formhome").submit();
        });

        var checkupdate = ($("#countparent").val()) ? true : false;
        if (!checkupdate) {
            var counter = 0;
        } else {
            var counter = parseInt($("#countparent").val());
        }

        $("#addParent").click(function (e) {
            e.preventDefault();
                    var stringone = "<div class='parent_node parent_" + counter + "'>";
            stringone += "<div class='form-group'>";
            stringone += "<label class='control-label col-sm-3 col-md-3 col-lg-3'> Titolo </label><div class='col-sm-8 col-md-8 col-lg-8'><input class='form-control required_entry' type='text' name ='element[" + counter + "][title]'  /></div></div>";
            stringone += "<div class='form-group'>";
            stringone += " <label class='control-label col-sm-3 col-md-3 col-lg-3'>Frase informativa</label><div class='col-sm-8 col-md-8 col-lg-8'><input class='form-control' type='text' name ='element[" + counter + "][fraseslide]'  /></div></div>";
            stringone += "<div class='form-group'>";
            stringone += " <label class='control-label col-sm-3 col-md-3 col-lg-3'>Location e data</label><div class='col-sm-8 col-md-8 col-lg-8'><input class='form-control' type='text' name ='element[" + counter + "][dataslide]'  /></div></div>";
            stringone += "<div class='form-group'>";
            stringone += "<label class='control-label col-sm-3 col-md-3 col-lg-3'> Link</label><div class='col-sm-8 col-md-8 col-lg-8'><input class='form-control required_entry'  type='text' name ='element[" + counter + "][link]'  /></div></div>";
            stringone += "<div class='form-group'>";
            stringone += " <label class='control-label col-sm-3 col-md-3 col-lg-3'>Link Geticket</label><div class='col-sm-8 col-md-8 col-lg-8'><input class='form-control required_entry' type='text' name ='element[" + counter + "][link_geticket]'  /></div></div>";
            stringone += "<div class='form-group'>";
                    stringone += " <label class='control-label col-sm-3 col-md-3 col-lg-3'>Immagine</label>";
                    stringone += "<div class='col-sm-8 col-md-8 col-lg-8'><div class='input-group'>";
                    stringone += "<span class='input-group-btn'>";
            stringone += "<button name='imagebutton' class='imageputter btn btn-default' data-idtarget='element_" + counter + "_image'>Seleziona</button>";
            stringone += "</span>";
            stringone += "<input class='form-control required_entry' type='text' id='element_" + counter + "_image' name ='element[" + counter + "][image]'  />";
            stringone += "</div></div></div>";
            stringone += "<div class='form-group'>";
            stringone += "<div class='col-sm-5 col-lg-5 col-sm-offset-3'>";
            stringone += " <button class='deleteParent btn btn-default alert alert-danger' data-parent ='" + counter + "'>Elimina slide</button></div></div>";
            stringone += "</div></div>";
            stringone += "<hr>";
            counter++;
            $("#div_xml").append(stringone);
        });

        $(document).on("click", '.imageputter', function (event) {
            event.preventDefault();
            var idTarget = $(this).data("idtarget");
            $('#elfinder').elfinder({
                url: "<?= Top::getBaseUrl() . "page/connector" ?>",
                sync: 20000,
                lang: 'it',
                width: 700,
                requestType: 'POST',
                commandsOptions: {
                    getfile: {
                        oncomplete: 'destroy'
                    }
                },
                getFileCallback: function (url) {
                    $("#" + idTarget).val(url.path);
                }
            }).elfinder('instance');
        });


        $(document).on("click", ".parent_node .deleteParent", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(".parent_" + $(this).data("parent")).remove();
        });

    });
</script>