<?php
echo $this->render("layout/header.phtml");
echo $this->render("layout/head_calendar.phtml");
$arrayLang = $this->arrayLang;
$caLang = $this->caLang;
?>
 <!-- Date Picker -->
        <link rel="stylesheet" type="text/css" href="<?= BASE_URL ?>css/jquery.datepick.css"> 
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.8.23/themes/south-street/jquery-ui.css"> 
        <script type="text/javascript" src="<?= BASE_URL ?>js/calendar/datepicker/jquery.datepick.js"></script>
        <script type="text/javascript" src="<?= BASE_URL ?>js/calendar/datepicker/jquery.datepick.js"></script>

        <!-- tinyMCE -->
        <script>
            var customMCEchar = '<?php echo($caLang); ?>';
            var customMCEHeight = '';
            var customMCEWidth = '';
            var customButCMS = false;

            // Organiser Icons
            $(document).ready(function () {
                $(".org-icons").hide();
                $(".show-org-icons").show();
                $(".hide-org-icons").hide();

                // Open
                $(".show-org-icons").click(function () {
                    $(".org-icons").slideDown('fast');
                    $(".show-org-icons").hide();
                    $(".hide-org-icons").show();
                });
                // Close
                $(".hide-org-icons").click(function () {
                    $(".org-icons").slideUp('fast');
                    $(".hide-org-icons").hide();
                    $(".show-org-icons").show();
                });
            });
        </script>
        <style>
            html,body{background-image:none;}
        </style>
    </head>

    <body id="pop">

        <div class="panel panel-primary cst-panel-master">
            <!-- Default panel contents -->
            <div class="panel-heading"><?php echo($arrayLang['notes']); ?></div>
            <div class="panel-body">
                
                <?= $this->content ?>

                     <!-- END PANEL -->
            </div>
        </div>


    </body>
</html>