<?php if ($this->check) { ?>
    <div style='color:green; font-weight: bold; margin:100px auto; width:60%; font-size: 22px' >Evento salvato con successo</div>
    <meta http-equiv="refresh" content="3;URL=<?= BASE_URL ?>admin/calendar/index">
<?php } else { ?>
    <div style='color:red; margin:100px auto; width:60%; font-size: 22px'>Errore nel salvattaggio</div>
    <?php
    echo $this->message;
}
?>