<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Area utente</h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="12u">
                <p>Benvenuto, <?php echo $this->username; ?>.</p>
                <p><a href="<?= Top::getBaseUrl() . "default/user/edit"; ?>" class="button big alt">Edit</a></p>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <p>Elementi nel carrello</p>
                    <?php
                    if(count($this->elementiCarrello) != 0) {
                        foreach ($this->elementiCarrello as $_elemento) {
                            echo "<div class='row' style='line-height: 65px'>".
                            "<div class='8u'>Name: " . $_elemento['name'] . ", Qty: " . $_elemento['qty'] . "</div>".
                                "<div class='4u'><a href='".$this->url("default/product/remove", array("product_id" => $_elemento['id']))."' class='button'>Rimuovi</a></div>".
                            "</div>";
                        }
                    } else {
                        echo "<p>Nessun elemento presente</p>";
                    }
                    ?>
            </div>
        </div>

    </div>
</section>