<?php
/**
 * Pagina per la gestione dei cartelloni
 * @author Walter Fato <walter.fato@thinkopen.it>
 */
$modelUser = ($this->data) ? $this->data : false;
$checkspecial = "false";
?>
<?= $this->render("layout/imagetool.php"); ?>
<?= $this->render("layout/tinyMCE_include.phtml"); ?>
<script>
    $(document).ready(function () {
        $("#salva").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(".required_entry").each(function () {
                if ($(this).val() == "") {
                    alert("Il campo '" + $(this)..parent().prev("label").text() + "' deve essere valorizzato");
                    $.die();
                }
            });
            $("#formUser").submit();
        });
        $("#delete").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#formUser").attr("action", "<?= $this->url("*/useradmin/delete") ?>");
            $("#formUser").submit();
        });
    });
</script> 

<div class="content">
    <?php
    if ($this->codeResponse) {
        echo"<div class='row col-lg-12'";
        if ($this->codeResponse == "200") {
            echo" style='border:2px solid green; color:green;'>";
            echo "Utente salvato con successo";
        } else {
            echo " style='border:2px solid red; color:red;'>";
            echo "Errore in fase di salvataggio.";
        }
        echo "</div>";
    }
    ?>
    <?php if ($this->newUser) { ?>
        <div class='programm-header'>
            <h3>Informazioni Generali</h3>

        </div>
    <?php } else { ?>
        <h2>Utente: <?= $modelUser->getUsername() ?></h2>
    <?php } ?>
    <hr>
    <div class="row col-lg-12" id="generale">
        <form method="post" id='formUser' action="<?= $this->url("*/useradmin/save"); ?>"class='form-horizontal'>

            <?php if (!$this->newUser) { ?>
                <input type='hidden' value='<?= $modelUser->getEntity_id() ?>' id='programm_id' name='entity_id'>
            <?php } ?>
            <div class="col-lg-10">

                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label' >Username</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input id="username" name="dati[username]" type="text" class='form-control required_entry' value="<?= ($modelUser) ? $modelUser->getUsername() : ""; ?>" />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label' >Email</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input id='email'  name="dati[email]" type="text" class='form-control required_entry'  value="<?= ($modelUser) ? $modelUser->getEmail() : ""; ?>" />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label' >Password</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input name="dati[password]" type="password" class='form-control' value="<?= ($modelUser) ? "password" : ""; ?>" />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label'>Nome</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input name="dati[first_name]" type="text" class='form-control' value="<?= ($modelUser) ? $modelUser->getFirst_name() : ""; ?>" />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label'>Cognome</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input name="dati[last_name]" type="text" class='form-control' value="<?= ($modelUser) ? $modelUser->getLast_name() : ""; ?>" />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label'>Ruolo utente BO</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <select id='select_cat'class="form-control" name ="dati[role]" >
                            <?php
                            $arraycategorie = array("ADMIN" => BO_ADMINLESS, "REDATTORE" => BO_USER);
                            $_userBoModel = Top::getSingleton("bo_mapper/user");
                            $_userBo = $_userBoModel->load($_userBoModel::getUserId());
                            if ($_userBo->getRole() == BO_ADMINISTRATOR) {
                                $arraycategorie['SUPERADMIN'] = BO_ADMINISTRATOR;
                            }
                            foreach ($arraycategorie as $key => $value) {
                                echo "<option value='" . $value . "'";
                                if (!$this->newUser) {
                                    if ($value == $modelUser->getRole()) {
                                        echo "selected";
                                    }
                                }
                                echo ">" . $key . "</option>";
                            }
                            ?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row col-lg-2" style="margin-top: 20px">
                <?php if (!$this->newUser) { ?>
                    <input id='delete' class='btn btn-default alert alert-danger' type="submit" value="Elimina utente"/>
                <?php } ?>
                <input id='salva' class='btn btn-default alert alert-success' type="submit" value="Salva utente"/>
            </div>
        </form>
    </div>
</div>
