<div class="container theme-showcase" role="main">
    <div class='row' >
        <div class='col-lg-12 jumbotron' style='text-align: center;margin-top: 5%; '>
            
            <h2><?= $this->translate("La sua richiesta non pu&oacute; essere esaudita");?></h2>
            <h3><?= $this->translate("Il server ha restituito un 500 Internal Server Error");?></h3>
        </div>
       
    </div>
</div>