<section id="one" class="wrapper style1">
    <header class="major">
        <h2><?= $this->translate("There has been an error processing your request") ?></h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="12u">
                <section class="special box">
                    <p><?= $this->translate("Il server ha restituito un 404 Not Found"); ?></p>
                </section>
            </div>
        </div>
    </div>
</section>