<?php
/**
 * Pagina per la gestione dei menu
 * @author Walter Fato <walter.fato@thinkopen.it>
 */
$modelMenu = ($this->data) ? $this->data : false;
$lang = $this->language;
?>
<script>
    $(document).ready(function () {
        $("#salva").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var lay = $("#sceltaLayout").val();
            var conttype = $("#sceltaContentType").val();
            $(".required_entry").each(function () {
                if ($(this).val() == "") {
                    alert("Il campo '" + $(this).parent().prev().text() + "' deve essere valorizzato");
                    $.die();
                }
            });
            $("#div_xml input").each(function () {
                var valore = $(this).val();
                if (valore.indexOf("'") != -1 || valore.indexOf("\"") != -1 || valore.indexOf("&") != -1 || valore.indexOf("<") != -1 || valore.indexOf(">") != -1) {
                    alert("I campi del menu non possono contenere i seguenti caratteri: & \" \' < > ");
                    $.die();
                }
            });
            $("#formmenu").submit();
        });
    });
</script> 

<div class="content">
    <a href='<?= BASE_URL . "admin/menu"; ?>' ><button class='btn btn-sm alert-info'>Gestione Menù</button></a>
    <?php
    if ($this->codeResponse) {
        echo"<div class='row col-lg-12'";
        if ($this->codeResponse == "200") {
            echo" style='border:2px solid green; color:green;'>";
            echo "Menu salvato con successo";
        } else {
            echo " style='border:2px solid red; color:red;'>";
            echo "Errore in fase di salvataggio.<br>";
            echo $this->messageResponse;
        }
        echo "</div>";
    }
    ?>
    <?php if ($modelMenu) { ?>
        <h2 style="text-align: center">Menu : <?= $modelMenu->getName() ?></h2>
    <?php } else { ?>
        <h2 style="text-align: center">Creazione Menu</h2>
    <?php } ?>
    <hr>
    <div class="row col-lg-12" id="generale">
        <form method="post" id='formmenu' action="<?= $this->url("*/menu/save"); ?>"class="form-horizontal">
            <?php if ($modelMenu) { ?>
                <input type='hidden' id="menu_id" value='<?= $modelMenu->getMenu_id() ?>' name='menu_id'>
            <?php } ?>
            <div class="col-lg-10">
                <div class='form-group'>
                    <label for="nomemenu" class="col-sm-2 col-lg-2 control-label">Nome menu</label>
                    <div class="col-sm-5 col-lg-5">
                        <input name="name" id='nameMenu' type="text" class='form-control required_entry' <?= ($modelMenu) ? "value='" . $modelMenu->getName() . "'" : "" ?> />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>
                <div class='form-group'>
                    <label for="lingua" class="col-sm-2 col-lg-2 control-label">Seleziona Lingua</label>
                    <div class="col-sm-5 col-lg-5">
                        <select class="form-control" name ='language' id='select_linguage' >
                            <?php
                            foreach (Top::getLanguages(true) as $value => $label) {
                                if ($lang) {
                                    ?>
                                    <option value='<?= $value ?>' <?= ($lang == $value) ? "selected" : ""; ?> ><?= $label ?></option>
                                    <?php
                                } else {
                                    ?>
                                    <option value='<?= $value ?>' <?= ($value == "it") ? "selected" : ""; ?> ><?= $label ?></option>
                                    <?php
                                }
                            }
                            ?>
                        </select>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>
                <div class='form-group'>
                    <label for="background" class="col-sm-2 col-lg-2 control-label">Colore di background</label>
                    <div class="col-sm-5 col-lg-5">
                        <input name="bg_color" type="text" class='form-control ' <?= ($modelMenu) ? "value='" . $modelMenu->getBg_color() . "'" : "" ?> />
                    </div>
                </div>
                <div class='form-group'>
                    <?php if ($modelMenu) { ?>
                        <label for="attivo" class="col-sm-2 col-md-2 col-lg-2 control-label">Attivo</label>
                        <div class="col-sm-1 col-lg-1 ">
                            <div class="checkbox">
                                <?php if ($modelMenu->getIs_active() == 1) { ?>
                                    <input name="is_active" type="checkbox" class='form-control'  checked/>
                                <?php } else { ?>
                                    <input name="is_active" type="checkbox" class='form-control'  />
                                <?php } ?>
                            </div></div>
                    <?php } ?>
                </div>
                <div class="row col-lg-12">
                    <h2 style="text-align: center">Gestione voci</h2>
                    <button  id='addParent' class="btn btn-default alert-info">Aggiungi Padre</button>
                    <hr>
                    <div id='div_xml'>
                        <?php
                        if ($this->xmlparsato) {
                            echo $this->xmlparsato;
                        }
                        ?>
                    </div>
                </div>
            </div>
            <div class="row col-lg-2"  style="margin: 20px auto;">
                <?php if ($modelMenu) { ?>

                    <input id='delete' class='btn btn-default alert alert-danger' type="submit" value="Elimina Menu"/>
                    <input id='cloneStruct' class='btn btn-default alert alert-info' type ="submit" value='Clona struttura' />

                    <div id='divclona' style='display:none'>
                        <label for="selezionalingua" class="control-label">Seleziona la lingua su cui copiare la struttura di questo menu:</label>
                        <select class="form-control" name ='language_clone' id='select_linguage_clone' >
                            <?php
                            foreach (Top::getLanguages(true) as $value => $label) {
                                if ($lang) {
                                    ?>
                                    <option value='<?= $value ?>' <?= ($lang == $value) ? "selected" : ""; ?> ><?= $label ?></option>
                                    <?php
                                } else {
                                    ?>
                                    <option value='<?= $value ?>' <?= ($value == "it") ? "selected" : ""; ?> ><?= $label ?></option>
                                    <?php
                                }
                            }
                            ?>
                        </select>
                        <label for="nomemenu" class="control-label">Inserisci il nome del nuovo menù</label>
                        <input name="name_clone" type="text" class='form-control' <?= ($modelMenu) ? "value='" . $modelMenu->getName() . "'" : "" ?> />
                        <input id='clone' class='btn btn-default alert alert-info' type ="submit" value='Clona' />
                    </div>
                <?php } ?>

                <input id='salva' class='btn btn-default alert alert-success' type="submit" value="Salva Menu"/>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        var checkupdate = ($("#menu_id").val()) ? true : false;
        if (!checkupdate) {
            var counter = 0;
            var array_childs = new Array();
        } else {
            var counter = parseInt($("#countparent").val());
            var array_childs = new Array();
            if ($.type($("#arraychild").val()) !== "undefined") {
                array_childs = JSON.parse($("#arraychild").val());
            }
        }

        $("#cloneStruct").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#divclona").show("slow");
            $(this).hide();
        });

        $("#clone").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#menu_id").remove();
            $("#nameMenu").parent().remove();
            $("#select_linguage").parent().remove();
            $("#formmenu").submit();
        });

        $("#delete").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#formmenu").attr("action", "<?= $this->url("*/menu/delete") ?>");
            $("#formmenu").submit();
        });

        $("#addParent").click(function (e) {
            e.preventDefault();
            var stringone = "<hr>";
            stringone += "<div class='parent_node parent_" + counter + "'>";
            stringone += "<div class='form-group'>";
            stringone += "<label class='control-label col-md-1 col-sm-1 col-lg-1'>Nome</label><div class=' col-sm-3 col-md-3 col-lg-3'><input class='form-control required_entry' type='text' name ='element[" + counter + "][text]'  /></div>";
            stringone += "<label class='control-label col-md-1 col-sm-1 col-lg-1'>Link</label><div class=' col-sm-3 col-md-3 col-lg-3'><input class='form-control ' type='text' name ='element[" + counter + "][link]'  /></div>";
            stringone += " <button class='addChild btn btn-sm ' data-parent ='" + counter + "'>Aggiungi figlio</button>";
            stringone += " <button class='deleteParent btn btn-sm ' data-parent ='" + counter + "'>Elimina famiglia</button>";
            stringone += "<hr width='1' >";
            stringone += "</div>";
            stringone += "</div>";
            array_childs[counter] = new Array();
            counter++;
            $("#div_xml").append(stringone);
        });

        $(document).on("click", ".parent_node .addChild", function (e) {
            e.preventDefault();
            e.stopPropagation();
            lenghtArrayChilds = array_childs[$(this).data("parent")].length;
            if (lenghtArrayChilds > 0) {
                var conTemp = lenghtArrayChilds;
            } else {
                var conTemp = 0;
            }
            var stringone = "<div class='child_node child_" + $(this).data("parent") + "_" + conTemp + "'>";
            stringone += "<div class='form-group'><div class='row'>";
            stringone += "<label class='control-label col-sm-1 col-md-1 col-lg-1'>Nome</label><div class='col-sm-3 col-md-3 col-lg-3'><input class='form-control required_entry' type='text' name ='element[" + $(this).data("parent") + "][element][" + conTemp + "][text]'  /></div>";
            stringone += "<label class='control-label col-sm-1 col-md-1 col-lg-1'>Link</label><div class='col-sm-3 col-md-3 col-lg-3'><input class='form-control required_entry' type='text' name ='element[" + $(this).data("parent") + "][element][" + conTemp + "][link]'  /></div>";
            stringone += " <div class=' col-sm-3 col-md-3 col-lg-3'><button class='deleteChild btn btn-sm ' data-child='" + conTemp + "' data-parent ='" + $(this).data("parent") + "'>Elimina figlio</button></div>";
            stringone += "</div>";
            stringone += "</div>";
            stringone += "</div>";
            array_childs[$(this).data("parent")].push(conTemp);
            $(this).parent("div").append(stringone);
        });

        $(document).on("click", ".parent_node .deleteParent", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(".parent_" + $(this).data("parent")).remove();
        });

        $(document).on("click", ".parent_node .deleteChild", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(".child_" + $(this).data("parent") + "_" + $(this).data("child")).remove();
        });
    });
</script>