<?php
/**
 * Pagina per la gestione dei blocchi spalla news
 * @author Walter Fato <walter.fato@thinkopen.it>
 */
$modelNews = $this->data;
$modelblocchi = ($this->modelblocchishould) ? $this->modelblocchishould : false;
$lang = $this->language;
?>
<form method="post" id='formnews_shoulder' name ='form_spalla' action="<?= $this->url("*/news/saveblockshoulder"); ?>" class='form-horizontal'>
    <div class="row col-lg-12" id="contentshoulder" style='display:none;'>
        <input type='hidden' name='news_id' id='news_id' value='<?= $modelNews->getNews_id(); ?>'>
        <h2>Gestione Colonna</h2>
        
        <div class="col-lg-10">
            <div id='block_1' class='row col-lg-12' >
                <div class="col-sm-12 col-md-12 col-lg-12 center">Blocco 1</div>
                <div class="form-group">
                    <div class="col-sm-5 col-lg-5 col-sm-offset-3">
                        <div class='checkbox'>
                            <label>
                                <?php if ($modelblocchi[0]) { ?>
                                    <input type='hidden' name='form_spalla[0][block_id]' value='<?= $modelblocchi[0]->getBlock_id() ?>'>
                                    <input type='checkbox' name='form_spalla[0][is_active]' <?= ($modelblocchi[0]->getIs_active() == 1) ? "checked" : ""; ?> />Is active
                                        <?php } else { ?>
                                    <input type='checkbox' name='form_spalla[0][is_active]'  />Is active
                                <?php } ?>    
                            </label>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label for="imgbackground" class="col-sm-3 col-md-3 col-lg-3 control-label">Immagine background</label>
                    <div class="col-sm-5 col-md-8 col-lg-8">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button name="imagebutton" class="imageputter btn btn-default" data-idtarget="form_spalla_0_background_image">Seleziona</button>
                            </span>
                            <input class='form-control' type='text' name='form_spalla[0][background_image]' id='form_spalla_0_background_image' value='<?= ($modelblocchi[0]) ? $modelblocchi[0]->getBackground_image() : ""; ?>' /><br>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label for="editor" class="col-sm-3 col-md-3 col-lg-3 control-label">Editor Blocco</label>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                       <textarea class='tiny_complete' name='form_spalla[0][content]' ><?= ($modelblocchi[0]) ? $modelblocchi[0]->getContent() : ""; ?></textarea>
                    </div>
                    <input type='hidden' name='form_spalla[0][block_position]' value='1'/>
                </div>
            </div>
            <div id='block_2' class='row col-lg-12 '>
            <hr widt='100%'>
                <div class="col-sm-12 col-md-12 col-lg-12 center">Blocco 2</div>
                <div class="form-group">
                    <div class="col-sm-5 col-lg-5 col-sm-offset-3 ">
                        <div class='checkbox'>
                            <label>
                                <?php if ($modelblocchi[1]) { ?>
                                    <input type='hidden' name='form_spalla[1][block_id]' value='<?= $modelblocchi[1]->getBlock_id() ?>'>
                                    <input type='checkbox' name='form_spalla[1][is_active]' <?= ($modelblocchi[1]->getIs_active() == 1) ? "checked" : ""; ?> />Is active
                                <?php } else { ?>
                                    <input type='checkbox' name='form_spalla[1][is_active]'  />Is active
                                <?php } ?>   
                            </label>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label for="imgbackground" class="col-sm-3 col-md-3 col-lg-3 control-label">Immagine background</label>
                    <div class="col-sm-5 col-md-8 col-lg-8">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button name="imagebutton" class="imageputter btn btn-default" data-idtarget="form_spalla_1_background_image">Seleziona</button>
                            </span>
                            <input type='text' class='form-control' name='form_spalla[1][background_image]' id='form_spalla_1_background_image' value='<?= ($modelblocchi[1]) ? $modelblocchi[1]->getBackground_image() : ""; ?>' />
                        </div>
                    </div> 
                </div>               
                 <div class='form-group'>
                    <label for="editor" class="col-sm-3 col-md-3 col-lg-3 control-label">Editor Blocco</label>
                    <div class="col-sm-12 col-md-12 col-lg-12">
               <textarea class='tiny_complete' name='form_spalla[1][content]'><?= ($modelblocchi[1]) ? $modelblocchi[1]->getContent() : ""; ?></textarea>
                </div>
                <input type='hidden' name='form_spalla[1][block_position]' value='2'/>
           </div>
                 </div>
            <div id='block_3' class='row col-lg-12 '>
            <hr widt='100%'>
                <div class="col-sm-12 col-md-12 col-lg-12 center">Blocco 3</div>
                <div class="form-group">
                    <div class="col-sm-5 col-lg-5 col-sm-offset-3 ">
                        <div class='checkbox'>
                            <label>
                                <?php if ($modelblocchi[2]) { ?>
                                    <input type='hidden' name='form_spalla[2][block_id]' value='<?= $modelblocchi[2]->getBlock_id() ?>'>
                                    <input type='checkbox' name='form_spalla[2][is_active]' <?= ($modelblocchi[2]->getIs_active() == 1) ? "checked" : ""; ?> />Is active
                                <?php } else { ?>
                                    <input type='checkbox' name='form_spalla[2][is_active]'  />Is active
                                <?php } ?>    
                            </label>
                        </div>
                    </div> 
                </div>
                <div class='form-group'>
                    <label for="imgbackground" class="col-sm-3 col-md-3 col-lg-3 control-label">Immagine background</label>
                    <div class="col-sm-5 col-md-8 col-lg-8">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button name="imagebutton" class="imageputter btn btn-default" data-idtarget="form_spalla_2_background_image">Seleziona</button>
                            </span>
                            <input type='text'class='form-control' id='form_spalla_2_background_image' name='form_spalla[2][background_image]' value='<?= ($modelblocchi[2]) ? $modelblocchi[2]->getBackground_image() : ""; ?>' />
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label for="editor" class="col-sm-3 col-md-3 col-lg-3 control-label">Editor Blocco</label>
                    <div class="col-sm-12 col-md-12 col-lg-12">
               <textarea class='tiny_complete' name='form_spalla[2][content]'><?= ($modelblocchi[2]) ? $modelblocchi[2]->getContent() : ""; ?></textarea>
                    </div>
                <input type='hidden' name='form_spalla[2][block_position]' value='3'/>
                </div>
            </div>
            <div id='block_4' class='row col-lg-12'>
                <hr widt='100%'>
               <div class="col-sm-12 col-md-12 col-lg-12 center">Blocco 4</div>
                <div class="form-group">
                    <div class="col-sm-5 col-lg-5 col-sm-offset-3 ">
                        <div class='checkbox'>
                            <label>
                                <?php if ($modelblocchi[3]) { ?>
                                    <input type='hidden' name='form_spalla[3][block_id]' value='<?= $modelblocchi[3]->getBlock_id() ?>'>
                                    <input type='checkbox' name='form_spalla[3][is_active]' <?= ($modelblocchi[3]->getIs_active() == 1) ? "checked" : ""; ?> />Is active
                                <?php } else { ?>
                                    <input type='checkbox' name='form_spalla[3][is_active]'  />Is active
                                <?php } ?>  
                            </label>
                        </div></div>
                </div>
                <div class='form-group'>
                    <label for="imgbackground" class="col-sm-3 col-md-3 col-lg-3 control-label">Immagine background</label>
                    <div class="col-sm-5 col-md-8 col-lg-8">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button name="imagebutton" class="imageputter btn btn-default" data-idtarget="form_spalla_3_background_image">Seleziona</button>
                            </span>
                            <input type='text' class='form-control' name='form_spalla[3][background_image]' id='form_spalla_3_background_image' value='<?= ($modelblocchi[3]) ? $modelblocchi[3]->getBackground_image() : ""; ?>' />
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label for="editor" class="col-sm-3 col-md-3 col-lg-3 control-label">Editor Blocco</label>
                    <div class="col-sm-12 col-md-12 col-lg-12">
               <textarea class='tiny_complete' name='form_spalla[3][content]'><?= ($modelblocchi[3]) ? $modelblocchi[3]->getContent() : ""; ?></textarea>
                    </div>
                <input type='hidden' name='form_spalla[3][block_position]' value='4'/>
                </div>
                </div>
        </div>
        <input type="hidden" name="language" value="<?= $lang ?>">
        <div class="col-lg-2"> 
            <div class="row col-lg-12" >
                <input id='salvaspalla' class='btn btn-default alert alert-success' type="submit" value="Salva Spalla"/>
            </div>
        </div>
    </div>
</form>
