<link id="bs-css" href="<?= BASE_URL ?>css/bootstrap-table.css" rel="stylesheet">
<script src="<?= BASE_URL ?>js/bootstrap-table.js"></script>
<a href='<?= BASE_URL . "admin/news/create"; ?>' ><button class="btn btn-sm alert-info">Crea una news</button></a>
<table id="events-table" data-toggle="table" data-url="<?= BASE_URL . "admin/news/jsonrender" ?>" data-click-to-select="true" data-cache="false" data-height="300px" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-side-pagination="server" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]">
    <thead>
        <tr>
            <?php
            $array_no_fields = array("content", "category_id", "fb_share_img", "fb_share_desc", "image" ,"meta_description", "meta_keywords", "sort_order", "layout", "content_type");
            foreach ($this->attributes as $_attribute) {
                if (!in_array($_attribute, $array_no_fields))
                    echo "<th data-field='" . $_attribute . "' data-sortable=\"true\" class='cliccable'>" . $_attribute . "</th>";
            }
            ?>
        </tr>
    </thead>
</table>
<script>
    $(function () {
        $("#events-table").on('click-row.bs.table', function (e, row, $element) {
            var $clink = $(this);
            window.location.href = "<?= BASE_URL . "admin/news/update?news_id=" ?>" + row.news_id;
        });
    });
</script>