<?php
/**
 * Pagina per la gestione delle news
 * @author Walter Fato <walter.fato@thinkopen.it>
 */
$lang = $this->language;
$arrayLingue = Top::getLanguages(true);
?>
<?= $this->render("layout/imagetool.php"); ?>
<?= $this->render("layout/tinyMCE_include.phtml"); ?>
<script>
    $(document).ready(function () {
        $("#salva").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#clonaparameter").remove();
            $(".required_entry").each(function () {
                if ($(this).val() == "") {
                    alert("Il campo '" + $(this).parent().prev("label").text() + "' deve essere valorizzato");
                    $.die();
                }
            });
            $("#formnews").submit();
        });


        $("#navbarblocchi li").click(function () {
            if ($(this).attr("id") == "tab_generali") {
                $(this).addClass("active");
                $("#tab_blocchi").removeClass("active");
                $("#contenttypecontenitor").hide("slow");
                $("#tab_shoulder").removeClass("active");
                $("#contentshoulder").hide("slow");
                $("#generale").show("slow");
            }
            if ($(this).attr("id") == "tab_blocchi") {
                $(this).addClass("active");
                $("#tab_generali").removeClass("active");
                $("#generale").hide("slow");
                $("#tab_shoulder").removeClass("active");
                $("#contentshoulder").hide("slow");
                $("#contenttypecontenitor").show();
            }
            if ($(this).attr("id") == "tab_shoulder") {
                $(this).addClass("active");
                $("#tab_generali").removeClass("active");
                $("#generale").hide("slow");
                $("#tab_blocchi").removeClass("active");
                $("#contenttypecontenitor").hide("slow");
                $("#contentshoulder").show();
            }
        });

        $("#delete").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#formnews").attr("action", "<?= $this->url("*/news/delete") ?>");
            $("#formnews").submit();
        });

        $("#cloneStruct").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#divclona").show("slow");
            $(this).hide();
        });

        $("#clone").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#formnews").submit();
        });

    });
</script> 

<div class="content">
     <a href='<?= BASE_URL . "admin/news"; ?>' ><button class='btn btn-sm alert-info'>Gestione News</button></a>
    <?php
    $modelnews = $this->data;
    if ($this->codeResponse) {
        echo"<div class='row col-lg-12'";
        if ($this->codeResponse == "200") {
            echo" style='border:2px solid green; color:green;'>";
            echo "Blocchi salvati con successo";
        } else {
            echo " style='border:2px solid red; color:red;'>";
            echo "Errore in fase di salvataggio.";
        }
        echo "</div>";
    }
    if ($this->newNews) {
        ?>
        <div class='page-header'>
            <h3 style="text-align: center">Informazioni Generali della News</h3>
        </div>
    <?php } else { ?>
        <h2>News : <?= $modelnews->getTitle() ?></h2>
        <div class='page-header' id="navbarblocchi">
            <ul role="tablist" class="nav nav-tabs">
                <li id='tab_generali' class="active"><a>Informazioni generali</a></li>
                <li id='tab_blocchi'><a>Gestione Content</a></li>
                <?php if ($modelnews->getLayout() == "2" || $modelnews->getLayout() == "-2") { ?>
                    <li id='tab_shoulder'><a>Gestione Colonna</a></li>
                <?php } ?>
            </ul>
        </div>
    <?php } ?>
    <div class="row col-lg-12" id="generale">
        <form method="post" id='formnews' action="<?= $this->url("*/news/save"); ?>"class='form-horizontal'>
            <?php if (!$this->newNews) { ?>
                <input type='hidden' value='<?= $modelnews->getNews_id() ?>' name='news_id'>
            <?php } ?>
            <div class="col-lg-10">
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Titolo news</label>
                    <div class='col-sm-5 col-md-5 col-lg-5'>
                        <input name="title" type="text" class='form-control required_entry' <?= (!$this->newNews) ? "value='" . $modelnews->getTitle() . "'" : "" ?> />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>"?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Link news</label>
                    <div class='col-sm-5 col-md-5 col-lg-5'>
                        <input name="identifier" type="text" class='form-control required_entry'  <?= (!$this->newNews) ? "value='" . $modelnews->getIdentifier() . "'" : "" ?> />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>"?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Meta Keywords</label>
                    <div class='col-sm-5 col-md-5 col-lg-5'>
                        <input name="meta_keywords" type="text" class='form-control'  <?= (!$this->newNews) ? "value='" . $modelnews->getMeta_keywords() . "'" : "" ?> />
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3'>Meta Description</label>
                    <div class='col-sm-5 col-md-5 col-lg-5'>
                        <input name="meta_description" type="text" class='form-control' <?= (!$this->newNews) ? "value='" . $modelnews->getMeta_description() . "'" : "" ?> />
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Lingua</label>
                    <?php
                    if ($this->newNews) {
                        ?>
                        <input type="hidden" name = "language" value="it" />
                        <label class='col-sm-3 col-md-3 col-lg-3' >Italiano</label>
                        <?php
                    } else {
                        ?>
                        <input type="hidden" name = "language" value="<?= $lang ?>" />
                        <label class='col-sm-3 col-md-3 col-lg-3' ><?= $arrayLingue[$lang] ?></label>
                        <?php
                    }
                    ?>
                </div>

                <div class='form-group'>
                    <div class='col-sm-5 col-lg-5 col-sm-offset-3'>
                        <div class='checkbox'>
                            <label>
                                <?php if (!$this->newNews) { ?>
                                    <?php if ($modelnews->getIs_active() == 1) { ?>
                                        <input name="is_active" type="checkbox"   checked/>Attiva
                                    <?php } else { ?>
                                        <input name="is_active" type="checkbox"   />Attiva
                                    <?php } ?>
                                <?php } else { ?>
                                    <input name="is_active" type="checkbox"   />Attiva
                                <?php } ?>
                            </label>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Layout</label>
                    <div class='col-sm-5 col-md-5 col-lg-5'>
                        <select class="form-control required_ent1ry" name ='layout' id='sceltaLayout' >
                            <option value=''>Seleziona una tipologia di layout</option>
                            <option value='1'>One column</option>
                            <option value='2' selected>2 column right</option>
                            <option value='-2'>2 column left</option>
                        </select>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Content type</label>
                    <div class='col-sm-5 col-md-5 col-lg-5'>
                        <select class="form-control required_entry" name ='content_type' id='sceltaContentType' >
                            <option value=''>Seleziona una tipologia di contenuti</option>
                            <option value='0' selected>Fluid</option>
                            <option value='1'>Blocks</option>
                        </select>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>"?>
                </div>
                <?php if (!$this->newNews) { ?>
                    <script>
                        $(document).ready(function () {
                            var selectLayout = "<?= $modelnews->getLayout(); ?>";
                            var selectContent_type = "<?= $modelnews->getContent_type(); ?>";
                            $("#sceltaLayout > option").each(function () {
                                if ($(this).attr("value") == selectLayout.toString()) {
                                    $(this).attr("selected", true);
                                }
                            });
                            $("#sceltaContentType > option").each(function () {
                                if ($(this).attr("value") == selectContent_type.toString()) {
                                    $(this).attr("selected", true);
                                }
                            });
                        });
                    </script>
                <?php } ?>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Immagine preview</label>
                    <div class='col-sm-5 col-md-5 col-lg-5'>
                        <div class='input-group'>
                            <span class='input-group-btn'>
                                <button name="imagebutton" class="imageputter btn btn-default" data-idtarget="image">Seleziona</button>
                            </span>
                            <input name="image" id='image' type="text" class='form-control required_entry'  <?= (!$this->newNews) ? "value='" . $modelnews->getImage() . "'" : "" ?> />
                        </div>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>"?>
                </div>
                <div class='form-group '>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Messaggio di preview</label>
                    <div class='col-sm-9 col-md-9 col-lg-9'>
                       <textarea class='tiny_normal' name='content' class='form-control'><?= (!$this->newNews) ? $modelnews->getContent() : ""; ?></textarea>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3'>Immagine di testa</label>
                    <div class='col-sm-5 col-md-5 col-lg-5'>
                        <div class='input-group'>
                            <span class='input-group-btn'>
                                <button name="imagebutton" class="imageputter btn btn-default" data-idtarget="img_wide">Seleziona</button>
                            </span>
                            <input name="img_wide" id="img_wide" type="text" class='form-control' value="<?= ($modelnews) ? $modelnews->getImg_wide() : ""; ?>" />
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3'>Facebook share img</label>
                    <div class='col-sm-5 col-md-5 col-lg-5'>
                        <div class='input-group'>
                            <span class='input-group-btn'>
                                <button name="imagebutton" class="imageputter btn btn-default" data-idtarget="fb_share_img">Seleziona</button>
                            </span>
                            <input name="fb_share_img" id="fb_share_img" type="text" class='form-control' value="<?= ($modelnews) ? $modelnews->getFb_share_img() : ""; ?>" />
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <label class=' col-sm-3 col-md-3 col-lg-3'>Facebook share desription</label>
                        <div class='col-sm-9 col-md-9 col-lg-9'>
                           <textarea class='tiny_normal' name='fb_share_desc'><?= ($modelnews) ? $modelnews->getFb_share_desc() : ""; ?></textarea>
                        </div>
                    </div>
            </div>
            <div class="row col-lg-2" style="margin-top: 20px">
                <?php if (!$this->newNews) { ?>
                    <input id='delete' class='btn btn-default alert alert-danger' type="submit" value="Elimina news"/>
                    <?php if ($lang == "it") { ?>

                        <input id='cloneStruct' class='btn btn-default alert alert-info' type ="submit" value='Traduci per' />
                        <div id='divclona' style='display:none'>
                            <div class="form-group">
                                <label class="control-label">Seleziona la lingua in cui tradurre questa news:</label>
                                <select class="form-control" name ='language_clone' id='select_linguage_clone' >
                                    <?php
                                    foreach ($arrayLingue as $value => $label) {
                                        if ($value != $lang) {
                                            ?>
                                            <option value='<?= $value ?>' ><?= $label ?></option>
                                            <?php
                                        }
                                    }
                                    ?>
                                </select>

                                <label class="control-label">Inserisci il nome della nuova news</label>
                                <input name="name_clone" type="text" class='form-control' <?= ($modelnews) ? "value='" . $modelnews->getTitle() . "'" : "" ?> />
                                <label class="control-label">Inserisci il link della nuova news</label>
                                <input name="link_clone" type="text" class='form-control' <?= ($modelnews) ? "value='" . $modelnews->getIdentifier() . "'" : "" ?> />

                                <input id="clonaparameter" type ="hidden" value='1' name ="clona" />
                                <input id='clone' class='btn btn-default alert alert-info' type ="submit" value='Traduci' />
                            </div>
                        </div>
                    <?php } ?>
                <?php } ?>
                <br>
                <br>
                <input id='salva' class='btn btn-default alert alert-success' type="submit" value="Salva news"/>
            </div>
        </form>
    </div>
    <?php
    if (!$this->newNews) {
        $array = array();
        $array['news_id'] = $modelnews->getNews_id();
        if ($this->language) {
            $array['language'] = $this->language;
        }
        echo $this->action("createblocks", "news", "bo", $array);
        if ($modelnews->getLayout() == "2" || $modelnews->getLayout() == "-2") {
            echo $this->action("createblocksshoulder", "news", "bo", $array);
        }
    }
    ?>
</div>
