<?php
/**
 * Pagina per la gestione dei footer
 * @author Walter Fato <walter.fato@thinkopen.it>
 */
$modelFooter = ($this->modelfooter) ? $this->modelfooter : false;
$lang = $this->language;
?>
<script>
    $(document).ready(function () {
        $("#salva").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(".required_entry").each(function () {
                if ($(this).val() == "") {
                    alert("Il campo '" + $(this).parent().prev().text() + "' deve essere valorizzato");
                    $.die();
                }
            });
            $("#div_xml input").each(function () {
                var valore = $(this).val();
                if (valore.indexOf("'") != -1 || valore.indexOf("\"") != -1 || valore.indexOf("&") != -1 || valore.indexOf("<") != -1 || valore.indexOf(">") != -1) {
                    alert("I campi del footer non possono contenere i seguenti caratteri: & \" \' < > ");
                    $.die();
                }
            });
            $("#formfooter").submit();
        });
    });
</script> 

<div class="content">
    <a href='<?= BASE_URL . "admin/footer"; ?>' ><button class='btn btn-sm alert-info'>Gestione Footer</button></a>
    <?php
    if ($this->codeResponse) {
        echo"<div class='row col-lg-12'";
        if ($this->codeResponse == "200") {
            echo" style='border:2px solid green; color:green;'>";
            echo "Footer salvato con successo";
        } else {
            echo " style='border:2px solid red; color:red;'>";
            echo "Errore in fase di salvataggio.<br>";
            echo $this->messageResponse;
        }
        echo "</div>";
    }
    ?>
    <h2 style="text-align: center">Gestione Footer</h2>
    <hr>
    <div class="row col-lg-12" id="generale">
        <form method="post" id='formfooter' action="<?= $this->url("*/footer/save"); ?>"class="form-horizontal">
            <?php if ($modelFooter) { ?>
                <input type='hidden' id="footer_id" value='<?= $modelFooter->getFooter_id() ?>' name='footer_id'>
            <?php } ?>
            <div class="col-lg-10">
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label' >Nome footer</label>
                    <div class="col-sm-5 col-md-5 col-lg-5"> 
                        <input name="name" id='nameFooter' type="text" class='form-control required_entry' <?= ($modelFooter) ? "value='" . $modelFooter->getName() . "'" : "" ?> />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label' >Seleziona Lingua</label>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <select class="form-control" name ='language' id='select_language' >
                            <?php
                            foreach (Top::getLanguages(true) as $value => $label) {
                                if ($lang) {
                                    ?>
                                    <option value='<?= $value ?>' <?= ($lang == $value) ? "selected" : ""; ?> ><?= $label ?></option>
                                    <?php
                                } else {
                                    ?>
                                    <option value='<?= $value ?>' <?= ($value == "it") ? "selected" : ""; ?> ><?= $label ?></option>
                                    <?php
                                }
                            }
                            ?>
                        </select>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label' >Colore di background</label>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <input name="bg_color" type="text" class='form-control' <?= ($modelFooter) ? "value='" . $modelFooter->getBg_color() . "'" : "" ?> />
                    </div>
                </div>

                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label' >Info biglietteria</label>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <input name="info_biglietteria" type="text" class='form-control required_entry' <?= ($modelFooter) ? "value='" . $modelFooter->getInfo_biglietteria() . "'" : "" ?> />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>

                <div class="form-group">
                    <div class="col-sm-5 col-lg-5 col-sm-offset-3 ">
                        <div class="checkbox">
                            <label>
                                <?php if ($modelFooter) { ?>
                                    <?php if ($modelFooter->getIs_active() == 1) { ?>
                                        <input name="is_active" type="checkbox"  checked/>Attivo
                                    <?php } else { ?>
                                        <input name="is_active" type="checkbox"   />Attivo
                                    <?php } ?>
                                <?php } ?>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row col-lg-12">
                    <h2 style="text-align: center">Gestione voci Footer Alto</h2>
                    <button class='btn btn-default alert alert-info' id='addParent'>Aggiungi Padre</button>
                    <hr>
                    <div id='div_xml'>
                        <?php
                        if ($this->xmlparsato) {
                            echo $this->xmlparsato;
                        }
                        ?>
                    </div>
                </div>
            </div>
            <div class="row col-lg-2" style="margin: 20px auto;" >
                <?php if ($modelFooter) { ?>
                    <input id='delete' class='btn btn-default alert alert-danger' type="submit" value="Elimina Footer"/>
                    <input id='cloneStruct' class='btn btn-default alert alert-info' type ="submit" value='Clona struttura' />
                    <div id='divclona' style='display:none'>
                        <label class="control-label">Seleziona la lingua su cui copiare la struttura di questo footer:</label>
                        <select class="form-control" name ='language_clone' id='select_language_clone' >
                            <?php
                            foreach (Top::getLanguages(true) as $value => $label) {
                                if ($lang) {
                                    ?>
                                    <option value='<?= $value ?>' <?= ($lang == $value) ? "selected" : ""; ?> ><?= $label ?></option>
                                    <?php
                                } else {
                                    ?>
                                    <option value='<?= $value ?>' <?= ($value == "it") ? "selected" : ""; ?> ><?= $label ?></option>
                                    <?php
                                }
                            }
                            ?>
                        </select>
                        <label class="control-label" >Inserisci il nome del nuovo footer</label>
                        <input name="name_clone" type="text" class='form-control' <?= ($modelFooter) ? "value='" . $modelFooter->getName() . "'" : "" ?> />
                        <input id='clone' class='btn btn-default alert alert-info' type ="submit" value='Clona' />
                    </div>
                <?php } ?>
                <input id='salva' class='btn btn-default alert alert-success' type="submit" value="Salva Footer"/>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#cloneStruct").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#divclona").show("slow");
            $(this).hide();
        });

        $("#clone").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#footer_id").remove();
            $("#nameFooter").parent().remove();
            $("#select_language").parent().remove();
            $("#formfooter").submit();
        });

        $("#delete").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#formfooter").attr("action", "<?= $this->url("*/footer/delete") ?>");
            $("#formfooter").submit();
        });


        var checkupdate = ($("#footer_id").val()) ? true : false;
        if (!checkupdate) {
            var counter = 0;
            var array_childs = new Array();
        } else {
            var counter = parseInt($("#countparent").val());
            var array_childs = new Array();
            if ($.type($("#arraychild").val()) !== "undefined") {
                array_childs = JSON.parse($("#arraychild").val());
            }
        }

        $("#addParent").click(function (e) {
            e.preventDefault();
            var stringone = "<hr>";
            stringone += "<div class='parent_node parent_" + counter + "'><div class='form-group'>";
            stringone += "<label class='control-label col-sm-1 col-md-1 col-lg-1'>Nome</label>";
            stringone += "<div class='col-sm-3 col-md-3 col-lg-3'>";
            stringone += " <input class='form-control required_entry' type='text' name ='element[" + counter + "][text]'  />";
            stringone += "</div>";
            stringone += "<label class='control-label col-sm-1 col-md-1 col-lg-1'>Link</label>";
            stringone += "<div class='col-sm-3 col-md-3 col-lg-3'>";
            stringone += "<input class='form-control ' type='text' name ='element[" + counter + "][link]'  />";
            stringone += "</div>";
            stringone += " <button class='addChild btn btn-sm ' data-parent ='" + counter + "'>Aggiungi figlio</button>";
            stringone += " <button class='deleteParent btn btn-sm ' data-parent ='" + counter + "'>Elimina famiglia</button>";
            stringone += "<hr width='1' >";
            stringone += "</div>";
            stringone += "</div>";
            array_childs[counter] = new Array();
            counter++;
            $("#div_xml").append(stringone);
        });

        $(document).on("click", ".parent_node .addChild", function (e) {
            e.preventDefault();
            e.stopPropagation();
            lenghtArrayChilds = array_childs[$(this).data("parent")].length;
            if (lenghtArrayChilds > 0) {
                var conTemp = lenghtArrayChilds;
            } else {
                var conTemp = 0;
            }
            var stringone = "<div class='child_node child_" + $(this).data("parent") + "_" + conTemp + "'><div class='form-group '><div class='row'>";
            stringone += "<label class='col-sm-1 col-md-1 col-lg-1 control-label'>Nome</label>";
            stringone += "<div class='col-sm-3 col-md-3 col-lg-3'>";
            stringone += " <input  class='form-control required_entry' type='text' name ='element[" + $(this).data("parent") + "][element][" + conTemp + "][text]'  />";
            stringone += "</div>";
            stringone += "<label class='control-label col-sm-1 col-md-1 col-lg-1'> Link</label>";
            stringone += "<div class='col-sm-3 col-md-3 col-lg-3'>";
            stringone += " <input class='form-control required_entry' type='text' name ='element[" + $(this).data("parent") + "][element][" + conTemp + "][link]'  />";
            stringone += "</div>";
            stringone += " <div class=' col-sm-3 col-md-3 col-lg-3'><button class='deleteChild btn btn-sm ' data-child='" + conTemp + "' data-parent ='" + $(this).data("parent") + "'>Elimina figlio</button></div>";
            stringone += "</div>";
            stringone += "</div>";
            stringone += "</div>";
            array_childs[$(this).data("parent")].push(conTemp);
            $(this).parent("div").append(stringone);
        });

        $(document).on("click", ".parent_node .deleteParent", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(".parent_" + $(this).data("parent")).remove();
        });

        $(document).on("click", ".parent_node .deleteChild", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(".child_" + $(this).data("parent") + "_" + $(this).data("child")).remove();
        });

    });
</script>