<?php if ($this->pageCount): ?>
<!-- First page link -->
<div id="paginatorControl">
    <img src='<?php echo IMG_URL; ?>/icona_first.png' alt="icona_first" />
<?php if (isset($this->previous)): ?>
  <a href="<?php echo $this->url(array('page' => $this->first)); ?>">FIRST</a> 
<?php else: ?>
  <span class="disabled">FIRST</span>  
<?php endif; ?>
 
<img src='<?php echo IMG_URL; ?>/icona_prev.png' alt="icona_prev" />
<!-- Previous page link -->
<?php if (isset($this->previous)): ?>
  <a href="<?php echo $this->url(array('page' => $this->previous)); ?>">PREV</a> 
<?php else: ?>
<span class="disabled">PREV</span>
<?php endif; ?>
 <img src='<?php echo IMG_URL; ?>/icona_point.png' alt="icona_point" /> 
 <?= "<b>[ ".$this->totalItemCount." risultati ]</b>" ?>
 <img src='<?php echo IMG_URL; ?>/icona_point.png' alt="icona_point" /> 
<!-- Next page link -->
<?php if (isset($this->next)): ?>
  <a href="<?php echo $this->url(array('page' => $this->next)); ?>">NEXT</a>
<?php else: ?>
  <span class="disabled">NEXT</span>
<?php endif; ?>
<img src='<?php echo IMG_URL; ?>/icona_next.png' alt="icona_next" />
 

<!-- Last page link -->
<?php if (isset($this->next)): ?>
  <a href="<?php echo $this->url(array('page' => $this->last)); ?>">
    LAST
  </a>
<?php else: ?>
  <span class="disabled">LAST</span>
<?php endif; ?>
  <img src='<?php echo IMG_URL; ?>/icona_last.png' alt="icona_last" />
 </div>
<?php endif; ?> 