<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <?= $this->render("head.phtml"); ?>
    </head>
    <body>

        <div id="fb-root"></div>
        <div id="contenitore-allsite">
            <div id="header">
                <a href="<?php echo SITE_BO_PATH; ?>"><div id="logo"></div></a>
                <div id="menu">
                    <?php
                    if (BoBusinessUser::getUserId()) {
                        ?>
                        <ul id="menu-categoria">
                            <li><a href="<?php echo URL; ?>admin/profile">Profilo</a> </li>
                            <li><a href="<?php echo URL; ?>admin/video">Gestione video</a></li>
                            <li><a href="<?php echo URL; ?>admin/fanpage">Gestione fanpage</a> </li>
                        </ul>
                        <a href="<?= SITE_BO_PATH ?>facebook/dologout"><div id='login_button'>Disconnetti</div></a>
                        <?php
                    } else {
                        ?>
                        <a id='img_button_facebook'  href="#" onclick="Login();"><div id='login_button'>Accedi</div></a>
                    <?php } ?>
                </div>
            </div>
            <div id='status'></div>
            <div id="content-centrale">
                <?php echo $this->layout()->content ?>     
    <!--                <input type="button" onclick="getPhoto()" value='foto'>-->
            </div>
            <div class="modal">
                <!-- Place at bottom of page -->
                <center>Stiamo importando i tuoi video</center>
            </div>
        </div>
    </body>

</html>