asdd
    <ul id="menu-categoria">
        <li><a href="<?php echo URL; ?>profile">Profilo</a> </li>
        <li><a href="<?php echo URL; ?>video">Gestione video</a></li>
        <li><a href="<?php echo URL; ?>fanpage">Gestione fanpage</a> </li>
    </ul>
 