<link id="bs-css" href="<?= BASE_URL ?>css/bootstrap-table.css" rel="stylesheet">
<script src="<?= BASE_URL ?>js/bootstrap-table.js"></script>
<?php
if ($this->codeResponse) {
    echo"<div class='row col-lg-12'";
    if ($this->codeResponse == "200") {
        echo" style='border:2px solid green; color:green;'>";
        echo "Programma salvato con successo";
    } else {
        echo " style='border:2px solid red; color:red;'>";
        echo "Errore in fase di salvataggio.<br>";
        echo $this->messageResponse;
    }
    echo "</div>";
}
?>
<a href='<?= BASE_URL . "admin/programm/create"; ?>' ><button class="btn btn-sm alert-info">Crea Nuovo Cartellone</button></a>
<table id="events-table" data-toggle="table" data-url="<?= BASE_URL . "admin/programm/jsonrender" ?>" data-click-to-select="true" data-cache="false" data-height="300px" data-show-columns="true" data-search="false" data-select-item-name="toolbar1" data-side-pagination="server" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]">
    <thead>
        <tr>
            <?php
            $array_no_fields = array("img_wide", "content","fb_share_img","fb_share_desc","meta_description","meta_keywords");
            foreach ($this->attributes as $_attribute) {
                if (!in_array($_attribute, $array_no_fields)) {
                    echo "<th data-field='" . $_attribute . "' data-sortable=\"true\" class='cliccable'>" . $_attribute . "</th>";
                }
            }
            ?>
        </tr>
    </thead>
</table>
<script>
    $(function () {
        $("#events-table").on('click-row.bs.table', function (e, row, $element) {
            window.location.href = "<?= BASE_URL . "admin/programm/update?prog_id=" ?>" + row.prog_id + "&language=" + row.language;
        });
    });
</script>