<?php
/**
 * Pagina per la gestione dei cartelloni
 * @author Walter Fato <walter.fato@thinkopen.it>
 */
$arraycategorie = Top::getModel("bo_mapper/category")->getArrayCategories();
$modelProg = ($this->data) ? $this->data : false;
$checkspecial = "false";
if ($modelProg) {
    $checkspecial = ($modelProg->getIsspecial()) ? "true" : "false";
}
?>
<?= $this->render("layout/imagetool.php"); ?>
<?= $this->render("layout/tinyMCE_include.phtml"); ?>
<script>
    $(document).ready(function () {
        var checkspecial = "<?= $checkspecial ?>";
        if (checkspecial == "true") {
            $("#special").trigger("click");
            $("#specialDiv").removeClass("nascosto");
            $("#select_cat").addClass("nascosto");
            $("#select_cat").hide();
            $("#specialDiv").show();
        }


        $("#salva").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(".required_entry").each(function () {
                if ($(this).val() == "") {
                    alert("Il campo '" + $(this).parent().parent().prev("label").text() + "' deve essere valorizzato");
                    $.die();
                }
            });
            $("#formProgramm").submit();
        });
        
        $("#delete").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#formProgramm").attr("action", "<?= $this->url("*/programm/delete") ?>");
            $("#formProgramm").submit();
        });
        
        $("#special").click(function () {
            if ($("#select_cat").hasClass("nascosto")) {
                $("#select_cat").removeClass("nascosto");
                $("#select_cat").show();
                $("#specialDiv").addClass("nascosto");
                $("#specialDiv").hide();
            } else {
                $("#specialDiv").removeClass("nascosto");
                $("#select_cat").addClass("nascosto");
                $("#select_cat").hide();
                $("#specialDiv").show();
            }
        });
        jQuery(function ($) {
            $.datepicker.regional['it'] = {
                closeText: 'Chiudi',
                prevText: '&#x3c;Prec',
                nextText: 'Succ&#x3e;',
                currentText: 'Oggi',
                monthNames: ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno',
                    'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre'],
                monthNamesShort: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu',
                    'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic'],
                dayNames: ['Domenica', 'Luned&#236', 'Marted&#236', 'Mercoled&#236', 'Gioved&#236', 'Venerd&#236', 'Sabato'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven', 'Sab'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Me', 'Gi', 'Ve', 'Sa'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''};
            $.datepicker.setDefaults($.datepicker.regional['it']);
        });

        $(function () {
            $("#specialdal").datepicker($.datepicker.regional['it']);
            $("#specialal").datepicker($.datepicker.regional['it']);
        });
    });
</script> 


<style>
    .nascosto{ display:none}
</style>

<div class="content">
    <a href='<?= BASE_URL . "admin/programm"; ?>' ><button class='btn btn-sm alert-info'>Gestione Cartellone</button></a>
    <?php
    if ($this->codeResponse) {
        echo"<div class='row col-lg-12'";
        if ($this->codeResponse == "200") {
            echo" style='border:2px solid green; color:green;'>";
            echo "Cartellone salvato con successo";
        } else {
            echo " style='border:2px solid red; color:red;'>";
            echo "Errore in fase di salvataggio.";
        }
        echo "</div>";
    }
    ?>
    <?php if ($this->newProgramm) { ?>
        <div class='programm-header'>
            <h3 style="text-align: center">Informazioni Generali</h3>
            
        </div>
    <?php } else { ?>
    <h2 style="text-align:center">Cartellone : <?= $modelProg->getTitle() ?></h2>
    <?php } ?>
        <hr>
    <div class="row col-lg-12" id="generale">
        <form method="post" id='formProgramm' action="<?= $this->url("*/programm/save"); ?>"class='form-horizontal'>

            <?php if (!$this->newProgramm) { ?>
                <input type='hidden' value='<?= $modelProg->getProg_id() ?>' id='programm_id' name='prog_id'>
            <?php } ?>
            <div class="col-lg-10">

                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label' >Titolo cartellone</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input id="programmName" name="title" type="text" class='form-control required_entry' value="<?= ($modelProg) ? $modelProg->getTitle() : ""; ?>" />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>"?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label' >Link cartellone</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input id='programmLink'  name="identifier" type="text" class='form-control required_entry'  value="<?= ($modelProg) ? $modelProg->getIdentifier() : ""; ?>" />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>"?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label' >Meta Keywords</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input name="meta_keywords" type="text" class='form-control' value="<?= ($modelProg) ? $modelProg->getMeta_keywords() : ""; ?>" />
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label'>Meta Description</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input name="meta_description" type="text" class='form-control' value="<?= ($modelProg) ? $modelProg->getMeta_description() : ""; ?>" />
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label'>Categoria del cartellone</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <select id='select_cat'class="form-control" name ="category_id" >
                            <?php
                            foreach ($arraycategorie as $cate) {
                                echo "<option value='" . $cate['category_id'] . "'";
                                if (!$this->newProgramm) {
                                    if ($cate['category_id'] == $modelProg->getCategory_id()) {
                                        echo "selected";
                                    }
                                }
                                echo ">" . $cate['title'] . "</option>";
                            }
                            ?>
                        </select>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label' > Speciale ? </label>
                    <div class='col-sm-1 col-md-1 col-lg-1'>
                        <input id='special' type="checkbox" name="isspecial"></div>
                        <div id="specialDiv" class='col-sm-3 col-md-3 col-lg-3 nascosto' >
                            <?php
                            if ($modelProg) {
                                $al = (!is_null($modelProg->getSpecial_al())) ? date("d/m/Y", strtotime($modelProg->getSpecial_al())) : "";
                                $dal = (!is_null($modelProg->getSpecial_dal())) ? date("d/m/Y", strtotime($modelProg->getSpecial_dal())) : "";
                            } else {
                                $al = "";
                                $dal = "";
                            }
                            ?>
                            Dal <input id="specialdal" class="form-control"type="text" name="special_dal" value="<?= $dal ?>"/>
                            Al <input id="specialal" class="form-control"type="text" name="special_al" value="<?= $al ?>"/>
                        </div>
                    
                </div>

                <div class='form-group'>
                    <div class='col-sm-5 col-lg-5 col-sm-offset-3'>
                        <div class='checkbox'>
                            <label>
                                <?php if ($this->newProgramm) { ?>
                                    <input name="is_active" type="checkbox"   />Attivo
                                <?php } else { ?>
                                    <?php if ($modelProg->getIs_active() == 1) { ?>
                                        <input name="is_active" type="checkbox"  checked/>Attivo
                                    <?php } else { ?>
                                        <input name="is_active" type="checkbox"   />Attivo
                                    <?php } ?>
                                <?php } ?>
                            </label>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label'>Immagine di testa</label>
                    <div class='col-sm-5 col-md-5 col-lg-5'>
                        <div class='input-group'>
                            <span class='input-group-btn'>
                                <button name="imagebutton" class="imageputter  btn btn-default" data-idtarget="img_wide">Seleziona</button>
                            </span>
                            <input style='z-index: 0'name="img_wide" id="img_wide" type="text" class='form-control' value="<?= ($modelProg) ? $modelProg->getImg_wide() : ""; ?>" />
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label'>Facebook share img</label>
                    <div class='col-sm-5 col-md-5 col-lg-5'>
                        <div class='input-group'>
                            <span class='input-group-btn'>
                                <button name="imagebutton" class="imageputter btn btn-default" data-idtarget="fb_share_img">Seleziona</button>
                            </span>
                            <input style='z-index: 0' name="fb_share_img" id="fb_share_img" type="text" class='form-control' value="<?= ($modelProg) ? $modelProg->getFb_share_img() : ""; ?>" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class=' col-sm-3 col-md-3 col-lg-3 control-label'>Facebook share desription</label>
                    <div class='col-sm-9 col-md-9 col-lg-9'>
                        <textarea class = "tiny_normal" name='fb_share_desc'><?= ($modelProg) ? $modelProg->getFb_share_desc() : ""; ?></textarea>
                    </div>
                </div>
            </div>

            <div class="row col-lg-2" style="margin-top: 20px">
                <?php if (!$this->newProgramm) { ?>
                    <input id='delete' class='btn btn-default alert alert-danger' type="submit" value="Elimina cartellone"/>
                <?php } ?>
                <input id='salva' class='btn btn-default alert alert-success' type="submit" value="Salva cartellone"/>
            </div>
        </form>
    </div>
</div>
