<link id="bs-css" href="<?= BASE_URL ?>css/bootstrap-table.css" rel="stylesheet">
<script src="<?= BASE_URL ?>js/bootstrap-table.js"></script>
<a href='<?= BASE_URL . "admin/user/create"; ?>' ><button class="btn btn-sm alert-info"style="margin-bottom: 20px;">Crea nuovo Utente</button></a>
<a href='<?= BASE_URL . "admin/user/export"; ?>' ><button class="btn btn-sm alert-info"style="margin-bottom: 20px;">Esporta utenti in CSV</button></a>
<table id="events-table" data-toggle="table" data-url="<?= BASE_URL . "admin/user/jsonrender" ?>" data-click-to-select="true" data-cache="false" data-height="300px" data-user-columns="true" data-search="true"   data-select-item-name="toolbar1" data-side-pagination="server" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-searcher='<?= $this->searchableattributes ?>'>
    <thead>
        <tr>
            <?php
            $array_no_fields = array("content", "tabella_prezzi", "img_wide", "location","user_id","is_facebook","password","newsletter","publish","gender","updated_at");
            foreach ($this->attributes as $_attribute) {
                if (!in_array($_attribute, $array_no_fields)) {
                    echo "<th data-field='" . $_attribute . "' data-sortable=\"true\" class='cliccable'>" . $_attribute . "</th>";
                }
            }
            ?>
        </tr>
    </thead>
</table>
<script>
    $(function () {
        $("#events-table").on('click-row.bs.table', function (e, row, $element) {
            window.location.href = "<?= BASE_URL . "admin/user/update/user_id/" ?>" + row.user_id;
        });
    });
</script>