<div class='form-group'>
    <label class='col-sm-3 col-md-3 col-lg-3 col-lg-offset-2' ><?= $this->attribute['attribute_label'] ?></label>
    <?php
    if ($this->userContent != false) {
        $_attributeToGet = "get" . ucfirst($this->attribute['attribute_name']);
        $_attributeContent = ($this->userContent->{$_attributeToGet}()) ? $this->userContent->{$_attributeToGet}() : "";
    } else {
        $_attributeContent = NULL;
    }
    ?>
    <div class="col-sm-5 col-md-5 col-lg-5">
        <input  id="<?= $this->attribute['attribute_name'] ?>" name="dati[<?= $this->attribute['attribute_name'] ?>]" type="text" readonly="readonly" class='form-control <?= ($this->attribute['is_required'] == 1) ? "required_entry" : "" ?>' value="<?= $_attributeContent ?>" />
    </div>
    <?= ($this->attribute['is_required'] == 1) ? "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" : "" ?>
</div>
<script>
    $(function () {
        $("#<?= $this->attribute['attribute_name'] ?>").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0",
            dateFormat: 'dd/mm/yy'});
    });
</script>