<div class='form-group'>
    <?php
    ?>
    <label class='col-sm-3 col-md-3 col-lg-3 col-lg-offset-2' ><?= $this->attribute['attribute_label'] ?></label><?= ($this->attribute['is_required'] == 1) ? "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" : "" ?>
    <?php
    if ($this->userContent != false) {
        $_attributeToGet = "get" . ucfirst($this->attribute['attribute_name']);
        $_attributeContent = $this->userContent->{$_attributeToGet}();
    } else {
        $_attributeContent = NULL;
    }
    ?>
    <div class="col-sm-12 col-md-12 col-lg-12" id="contenitore_<?= $this->attribute['attribute_name'] ?>" >
        <textarea  class='tiny_content edtextarea' name='dati[<?= $this->attribute['attribute_name'] ?>]'><?= $_attributeContent ?></textarea>
    </div>
</div>