<div class='form-group'>
    <label class='col-sm-3 col-md-3 col-lg-3 col-lg-offset-2' ><?= $this->attribute['attribute_label'] ?></label>
    <?php
    $chekcAttributeLinguage = true;
    if ($this->userContent != false) {
        $_attributeToGet = "get" . ucfirst($this->attribute['attribute_name']);
        $_attributeContent = ($this->userContent->{$_attributeToGet}()) ? $this->userContent->{$_attributeToGet}() : NULL;
    } else {
        $_attributeContent = NULL;
    }
    if ((stristr($this->attribute['attribute_name'], "img"))) {
        ?>
        <div class='col-sm-8 col-md-8 col-lg-8'>
            <div class='input-group'>
                <span class='input-group-btn'>
                    <button name="imagebutton" class="imageputter btn-sm" data-idtarget="<?= $this->attribute['attribute_name'] ?>">Seleziona</button>
                </span>
                <input type="text"  class="form-control imagge" id="<?= $this->attribute['attribute_name'] ?>" name="dati[<?= $this->attribute['attribute_name'] ?>]" value="<?= $_attributeContent ?>"/>
            </div>
        </div>
    <?= ($this->attribute['is_required'] == 1) ? "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" : "" ?>

    <?php } elseif ((stristr($this->attribute['attribute_name'], "newsletter")) || (stristr($this->attribute['attribute_name'], "publish"))) { ?>
        <div class='col-sm-5 col-md-5 col-lg-5'>
            <?php if ($this->newPage) { ?>
                <input name="dati[<?= $this->attribute['attribute_name'] ?>]" type="checkbox"   />
            <?php } else { ?>
                <?php if ($_attributeContent  == 1) { ?>
                    <input  <?= $disableInput ?> name="dati[<?= $this->attribute['attribute_name'] ?>]" type="checkbox"  checked/>
                <?php } else { ?>
                    <input <?= $disableInput ?> name="dati[<?= $this->attribute['attribute_name'] ?>]" type="checkbox"   />
                <?php } ?>
            <?php } ?>
        </div>
    <?php } elseif ((stristr($this->attribute['attribute_name'], "gender")) ) { ?>
       <div class="col-sm-5 col-md-5 col-lg-4  ">
           <span><input type="radio"  name="dati[gender]">&nbsp;M</span>
           <span><input type="radio"  name="dati[gender]">&nbsp;F</span>
                    </div>
    
    <?php } else { ?>
        <div class='col-sm-5 col-md-5 col-lg-5'>
            <input  name="dati[<?= $this->attribute['attribute_name'] ?>]" type="<?= (stristr($this->attribute['attribute_name'], "password"))? "password" : "text" ?>" class='form-control <?= ($this->attribute['is_required'] == 1) ? "required_entry" : "" ?>' value="<?= $_attributeContent ?>" />
        </div>
    <?php } ?>
</div>