<?php
/**
 * Pagina per la gestione dei blocchi di pagina
 * @author Walter Fato <walter.fato@thinkopen.it>
 */
?>

<?= $this->render("layout/imagetool.php"); ?>
<?= $this->render("layout/tinyMCE_include.phtml"); ?>


<script>
    $(document).ready(function () {
        $(".enablefield").click(function () {
            var checked = $(this).is(":checked");
            var attributeToEnable = $(this).data("attributename");
            var attributeElement = $('#formpage [name="dati[' + attributeToEnable + ']"]');
            if (attributeElement.hasClass("edtextarea")) {
                if (checked == false) {
                    $("#contenitore_" + attributeToEnable).hide();
                } else {
                    $("#contenitore_" + attributeToEnable).show();
                }
            } else {
                if (attributeElement.hasClass("imagge")) {
                    if (checked == false) {
                        attributeElement.parent().find("span > button").hide();
                    } else {
                        attributeElement.parent().find("span > button").show();
                    }
                }
            }
            if (checked == false) {
                attributeElement.attr("disabled", "disabled");
            } else {
                attributeElement.removeAttr("disabled");
            }
        });
        $("#salva").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var lay = $("#sceltaLayout").val();
            var conttype = $("#sceltaContentType").val();
            $(".required_entry").each(function () {
                if ($(this).val() == "") {
                    alert("Il campo '" + $(this).parent().prev().text() + "' deve essere valorizzato");
                    $.die();
                }
            });
            $("#formpage").submit();
        });

        $("#delete").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#formpage").attr("action", "<?= $this->url("*/user/delete") ?>");
            $("#formpage").submit();
        });
    });
</script> 
<div class="content">
     <a href='<?= BASE_URL . "admin/user"; ?>' ><button class='btn btn-sm alert-info'>Gestione Utente</button></a>
    <div class='page-header row'>
        <div class="col-lg-12 ">
            <h3 style="text-align: center;">Informazioni Generali</h3>
        </div>
        <?php
        if ($this->codeResponse) {
            echo"<div class='row col-lg-12'";
            if ($this->codeResponse == "200") {
                echo" style='border:2px solid green; color:green;'>";
                echo "Utente salvato con successo";
            } else {
                echo " style='border:2px solid red; color:red;'>";
                echo "Errore in fase di salvataggio.";
            }
            echo "</div>";
        }
        ?>
    </div>
    <div class="row col-lg-12">
        <form method="post" id='formpage' action="<?= $this->url("*/user/save"); ?>" class="form-horizontal">
            <div class="col-lg-10">
                <?php
                foreach ($this->variableattributes as $_attribute) {
                    switch ($_attribute['attribute_type']) {
                        case "date":
                            echo $this->partial("user/p_date.phtml", array("attribute" => $_attribute, "lang" => $lang, "newPage" => $this->newPage, "userContent" => ($this->data) ? $this->data : false));
                            break;
                        case "text":
                            echo $this->partial("user/p_textarea.phtml", array("attribute" => $_attribute, "lang" => $lang, "newPage" => $this->newPage, "userContent" => ($this->data) ? $this->data : false));
                            break;
                        default:
                            echo $this->partial("user/p_text.phtml", array("attribute" => $_attribute, "lang" => $lang, "newPage" => $this->newPage, "userContent" => ($this->data) ? $this->data : false));
                            break;
                    }
                }
                ?>
            </div>
            <div class="row col-lg-2" style="margin-top: 20px">
                <?php if (!$this->newPage) { ?>
                    <input id='delete' class='btn btn-default alert alert-danger' type="submit" value="Elimina Utente"/>
                <?php } ?>
                <input id='salva' class='btn btn-default alert alert-success' type="submit" value="Salva Utente"/>
            </div>
        </form>
    </div>
</div>
<div style="position: fixed; z-index: 10000;" id="elfinder"></div>
