<?php
/**
 * Pagina per la gestione delle categorie
 * @author Walter Fato <walter.fato@thinkopen.it>
 */
?>
<?= $this->render("layout/imagetool.php"); ?>
<?= $this->render("layout/tinyMCE_include.phtml"); ?>
<script>
    $(document).ready(function () {
        $("#salva").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(".required_entry").each(function () {
                if ($(this).val() == "") {
                    alert("Il campo '" + $(this).prev().text() + "' deve essere valorizzato");
                    $.die();
                }
            });
            $("#formCategory").submit();
        });


        $("#delete").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#formCategory").attr("action", "<?= $this->url("*/category/delete") ?>");
            $("#formCategory").submit();
        });

    });
</script> 

<div class="content">
    <a href='<?= BASE_URL . "admin/category"; ?>' ><button class='btn btn-sm alert-info'>Gestione Categorie</button></a>
    <?php
    $modelCategory = ($this->data) ? $this->data : false;
    ?>
    <?php
    if ($this->codeResponse) {
        echo"<div class='row col-lg-12'";
        if ($this->codeResponse == "200") {
            echo" style='border:2px solid green; color:green;'>";
            echo "Categoria salvata con successo";
        } else {
            echo " style='border:2px solid red; color:red;'>";
            echo "Errore in fase di salvataggio.";
        }
        echo "</div>";
    }
    ?>
    <?php if ($this->newCategory) { ?>
        <div class='category-header'>
            <h3 style="text-align: center;">Informazioni Generali</h3>
        </div>
    <?php } else { ?>
        <h2 style="text-align: center;">Cartellone : <?= $modelCategory->getTitle() ?></h2>
    <?php } ?>
    <hr>
    <div class="row col-lg-12" id="generale">
        <form method="post" id='formCategory' action="<?= $this->url("*/category/save"); ?>"class='form-horizontal'>

            <?php if (!$this->newCategory) { ?>
                <input type='hidden' value='<?= $modelCategory->getCategory_id() ?>' id='category_id' name='category_id'>
            <?php } ?>
            <div class="col-lg-10">

                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3 control-label' >Nome Categoria</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input id="categoryName" name="title" type="text" class='form-control required_entry' value="<?= ($modelCategory) ? $modelCategory->getTitle() : ""; ?>" />
                    </div>
                </div>
                <div class='form-group'>
                    <div class='col-sm-5 col-lg-5 col-sm-offset-3'>
                        <div class='checkbox'>
                            <label>
                                <?php if ($this->newCategory) { ?>
                                    <input name="is_active" type="checkbox"   />Attivo
                                <?php } else { ?>
                                    <?php if ($modelCategory->getIs_active() == 1) { ?>
                                        <input name="is_active" type="checkbox"  checked/>Attivo
                                    <?php } else { ?>
                                        <input name="is_active" type="checkbox"   />Attivo
                                    <?php } ?>
                                <?php } ?>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-lg-2" style="margin-top: 20px">
                <?php if (!$this->newCategory) { ?>
                    <input id='delete' class='btn btn-default alert alert-danger' type="submit" value="Elimina Categoria"/>
                <?php } ?>
                <input id='salva' class='btn btn-default alert alert-success' type="submit" value="Salva categoria"/>
            </div>
        </form>
    </div>
</div>
