<!--
See http://developer.yahoo.com/ypatterns/pattern.php?pattern=itempagination
-->
<?php if ($this->pageCount): ?>
    <div class="paginationControl">
        
            <!-- First page link -->
           
                <nav>
                    <ul class='pager'>
                        <?php if (isset($this->previous)): ?>
                            <li><a href="<?php echo $this->url("*", array("order_key" => $this->order_key, "order_sort" => $this->order_sort, "page" => $this->first)); ?>#anchor">
                                    <?= $this->translate("inizio"); ?>
                                </a> </li>
                        <?php else: ?>
                            <li><span class="disabled"><?= $this->translate("inizio"); ?></span> </li>
                        <?php endif; ?>
                    
                
            

            <!-- Previous page link -->
           
                
                   
                        
                           
                                <?php if (isset($this->previous)): ?>
                                    <li><a href="<?php echo $this->url("*", array("order_key" => $this->order_key, "order_sort" => $this->order_sort, "page" => $this->previous)); ?>#anchor">
                                            <?= $this->translate("<"); ?>
                                        </a></li>
                                <?php else: ?>
                                    <li><span class="disabled"> <?= $this->translate("<"); ?></span> </li>
                                <?php endif; ?>
                                <!-- Numbered page links -->
                            
                            
                                <?php foreach ($this->pagesInRange as $page): ?>
                                    <?php if ($page != $this->current): ?>
                                        <li class='hidden-xs'><a href="<?php echo $this->url("*", array("order_key" => $this->order_key, "order_sort" => $this->order_sort, "page" => $page)); ?>#anchor">
                                                <?php echo $page; ?>
                                            </a> </li>
                                    <?php else: ?><li class='hidden-xs'><span>
                                        <?php echo $page; ?></span> </li>
                                            <?php endif; ?>
                                <?php endforeach; ?>
                            
                            
                                <!-- Next page link -->
                                <?php if (isset($this->next)): ?>
                                    <li><a href="<?php echo $this->url("*", array("order_key" => $this->order_key, "order_sort" => $this->order_sort, "page" => $this->next)); ?>#anchor">
                                            <?= $this->translate(">"); ?> 
                                        </a> </li>
                                <?php else: ?>
                                    <li><span class="disabled"><?= $this->translate(">"); ?> </span> </li>
                                <?php endif; ?>
                            
                        
                    
                
            
            <!-- Last page link -->
           
                
                   
                        <?php if (isset($this->next)): ?>
                            <li><a href="<?php echo $this->url("*", array("order_key" => $this->order_key, "order_sort" => $this->order_sort, "page" => $this->last)); ?>#anchor">
                                    <?= $this->translate("fine"); ?>
                                </a></li>
                        <?php else: ?>
                            <li><span class="disabled"><?= $this->translate("fine"); ?></span></li>
                        <?php endif; ?>
                    </ul>
                </nav>
            
        
        <div class='row'>
            <div class='hidden-xs hidden-sm hidden-md col-lg-1 col-lg-offset-11 right'>
                <?= $this->translate("%1\$s - %2\$s di %3\$s", array($this->firstItemNumber, $this->lastItemNumber, $this->totalItemCount)); ?>
            </div>
        </div>
    </div>
<?php endif; ?>