<?php
/**
 * Pagina per la gestione dei blocchi di pagina
 * @author Walter Fato <walter.fato@thinkopen.it>
 */
$modelPage = $this->data;
$modelblocchi = ($this->modelblocchi) ? $this->modelblocchi : false;
$lang = $this->language;
?>
<form method="post" id='formpage' name ='form_dati' action="<?= $this->url("*/page/saveblock"); ?>"class='form-horizontal'>
    <div class="row col-lg-12" id="contenttypecontenitor" style='display:none;'>
        <input type='hidden' name='page_id' id='page_id' value='<?= $modelPage->getPage_id(); ?>'>
        <input type='hidden' name='content_type' value='<?= $modelPage->getContent_type(); ?>'>
        <div class="col-lg-12">
            <h2>Gestione contenuti</h2>
        </div>
        <div class="col-lg-10">
            <?php if ($modelPage->getContent_type() == 0) { ?>
                <div id='block_fluid' class='row col-lg-12' >
                    <div class='form-group'>
                        <div class='col-sm-5 col-lg-5 col-sm-offset-3'>
                            <div class='checkbox'>
                                <label>
                                    <?php if ($modelblocchi[0]) { ?>
                                        <input type='hidden' name='form_fluid[block_id]' value='<?= $modelblocchi[0]->getBlock_id() ?>'>
                                        <input type='checkbox' name='form_fluid[is_active]' <?= ($modelblocchi[0]->getIs_active() == 1) ? "checked" : ""; ?> />Is active
                                    <?php } else { ?>
                                        <input type='checkbox' name='form_fluid[is_active]'  />Is active
                                    <?php } ?>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3 control-label'>Background Image</label>
                        <div class='col-sm-9 col-md-9 col-lg-9'>
                            <div class='input-group'>
                                <span class='input-group-btn'>
                                    <button name="imagebutton" class="imageputter btn btn-default" data-idtarget="form_fluid_background_image">Seleziona</button>
                                </span>
                                <input type='text' name='form_fluid[background_image]' id='form_fluid_background_image' class="form-control" value='<?= ($modelblocchi[0]) ? $modelblocchi[0]->getBackground_image() : ""; ?>' /><br>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class='col-sm-3 col-md-3 col-lg-3 control-label'>Editor</label>
                        <div class='col-sm-12 col-md-12 col-lg-12'>
                            <textarea class='tiny_content_tabella' name='form_fluid[content]'><?= ($modelblocchi[0]) ? $modelblocchi[0]->getContent() : ""; ?></textarea>
                        </div>
                    </div>
                </div>
            <?php } else { ?>
                <div id='block_1' class='row col-lg-12 block' >
                    <hr width='100%'>
                    <h4>Blocco 1</h4>
                    <div class='form-group'>
                        <div class='col-sm-5 col-lg-5 col-lg-offset-3 left'>
                            <div class='checkbox'>
                                <?php if ($modelblocchi[0]) { ?>
                                    <input type='hidden' name='form_dati[0][block_id]' value='<?= $modelblocchi[0]->getBlock_id() ?>'>
                                    <input type='checkbox' name='form_dati[0][is_active]' <?= ($modelblocchi[0]->getIs_active() == 1) ? "checked" : ""; ?> />Is active
                                <?php } else { ?>
                                    <input type='checkbox' name='form_dati[0][is_active]'  />Is active
                                <?php } ?>             
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Background Image</label>
                        <div class='col-sm-9 col-md-9 col-lg-9'>
                            <div class='input-group'>
                                <span class='input-group-btn'>
                                    <button name="imagebutton" class="imageputter btn-sm" data-idtarget="form_dati_0_background_image">Seleziona</button>
                                </span>
                                <input class='form-control' type='text' name='form_dati[0][background_image]' id='form_dati_0_background_image' value='<?= ($modelblocchi[0]) ? $modelblocchi[0]->getBackground_image() : ""; ?>' /><br>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Editor</label>
                        <div class='col-sm-12 col-md-12 col-lg-12'>
                            <textarea  class='tiny_content_tabella' name='form_dati[0][content]'><?= ($modelblocchi[0]) ? $modelblocchi[0]->getContent() : ""; ?></textarea>
                        </div>
                    </div>
                    <input type='hidden' name='form_dati[0][block_position]' value='1'/>
                </div>
                <div id='block_2' class='row col-lg-12 block'>
                    <hr width='100%'>
                    <h4>Blocco 2</h4>
                    <div class='form-group'>
                        <div class="col-sm-5 col-lg-5 col-lg-offset-3">
                            <div class='checkbox'>
                                <label>
                                    <?php if ($modelblocchi[1]) { ?>
                                        <input type='hidden' name='form_dati[1][block_id]' value='<?= $modelblocchi[1]->getBlock_id() ?>'>
                                        <input type='checkbox' name='form_dati[1][is_active]' <?= ($modelblocchi[1]->getIs_active() == 1) ? "checked" : ""; ?> />Is active
                                    <?php } else { ?>
                                        <input type='checkbox' name='form_dati[1][is_active]'  />Is active
                                    <?php } ?>          
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Background Image</label>
                        <div class='col-sm-9 col-md-9 col-lg-9'>
                            <div class='input-group'>
                                <span class='input-group-btn'>
                                    <button name="imagebutton" class="imageputter btn-sm" data-idtarget="form_dati_1_background_image">Seleziona</button>
                                </span>
                                <input class='form-control'type='text' name='form_dati[1][background_image]' id='form_dati_1_background_image' value='<?= ($modelblocchi[1]) ? $modelblocchi[1]->getBackground_image() : ""; ?>' /><br>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Editor</label>
                        <div class='col-sm-12 col-md-12 col-lg-12'>
                            <textarea  class='tiny_content_tabella' name='form_dati[1][content]'><?= ($modelblocchi[1]) ? $modelblocchi[1]->getContent() : ""; ?></textarea>
                            <input type='hidden' name='form_dati[1][block_position]' value='2'/>
                        </div>
                    </div>
                </div>
                <div id='block_3' class='row col-lg-12 block'>
                    <hr width='100%'>
                    <h4>Blocco 3</h4>
                    <div class='form-group'>
                        <div class="col-sm-5 col-lg-5 col-lg-offset-3">
                            <div class='checkbox'>
                                <label>
                                    <?php if ($modelblocchi[2]) { ?>
                                        <input type='hidden' name='form_dati[2][block_id]' value='<?= $modelblocchi[2]->getBlock_id() ?>'>
                                        <input type='checkbox' name='form_dati[2][is_active]' <?= ($modelblocchi[2]->getIs_active() == 1) ? "checked" : ""; ?> />Is active
                                    <?php } else { ?>
                                        <input type='checkbox' name='form_dati[2][is_active]'  />Is active
                                    <?php } ?>          
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Background Image</label>
                        <div class='col-sm-9 col-md-9 col-lg-9'>
                            <div class='input-group'>
                                <span class='input-group-btn'>
                                    <button name="imagebutton" class="imageputter btn-sm" data-idtarget="form_dati_2_background_image">Seleziona</button>
                                </span>
                                <input class='form-control'type='text' name='form_dati[2][background_image]' id='form_dati_2_background_image' value='<?= ($modelblocchi[2]) ? $modelblocchi[2]->getBackground_image() : ""; ?>' /><br>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Editor</label>
                        <div class='col-sm-12 col-md-12 col-lg-12'>
                            <textarea class='tiny_content_tabella' name='form_dati[2][content]'><?= ($modelblocchi[2]) ? $modelblocchi[2]->getContent() : ""; ?></textarea>
                            <input type='hidden' name='form_dati[2][block_position]' value='3'/>
                        </div>
                    </div>
                </div>
                <div id='block_4' class='row col-lg-12 block'>
                    <hr width='100%'>
                    <h4>Blocco 4</h4>
                    <div class='form-group'>
                        <div class="col-sm-5 col-lg-5 col-lg-offset-3">
                            <div class='checkbox'>
                                <label>
                                    <?php if ($modelblocchi[3]) { ?>
                                        <input type='hidden' name='form_dati[3][block_id]' value='<?= $modelblocchi[3]->getBlock_id() ?>'>
                                        <input type='checkbox' name='form_dati[3][is_active]' <?= ($modelblocchi[3]->getIs_active() == 1) ? "checked" : ""; ?> />Is active
                                    <?php } else { ?>
                                        <input type='checkbox' name='form_dati[3][is_active]'  />Is active
                                    <?php } ?>          
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Background Image</label>
                        <div class='col-sm-9 col-md-9 col-lg-9'>
                            <div class='input-group'>
                                <span class='input-group-btn'>
                                    <button name="imagebutton" class="imageputter btn-sm" data-idtarget="form_dati_3_background_image">Seleziona</button>
                                </span>
                                <input class='form-control'type='text' name='form_dati[3][background_image]' id='form_dati_3_background_image' value='<?= ($modelblocchi[3]) ? $modelblocchi[3]->getBackground_image() : ""; ?>' /><br>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-sm-3 col-md-3 col-lg-3'>Editor</label>
                        <div class='col-sm-12 col-md-12 col-lg-12'>
                            <textarea class='tiny_content_tabella' name='form_dati[3][content]'><?= ($modelblocchi[3]) ? $modelblocchi[3]->getContent() : ""; ?></textarea>
                            <input type='hidden' name='form_dati[3][block_position]' value='4'/>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
        <input type="hidden" name="language" value="<?= $lang ?>">
        <div class="col-lg-2"> 
            <div class="row col-lg-12 center" >
                <input id='salva' class=' btn btn-default alert alert-success' type="submit" value="Salva contenuto"/>
            </div>
        </div>
    </div>
</form>
