<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        theme: "modern",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "template paste textcolor colorpicker textpattern"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        toolbar2: "print preview media | forecolor backcolor emoticons",
        image_advtab: true,
        templates: [
            {title: 'Test template 1', content: 'Test 1'},
            {title: 'Test template 2', content: 'Test 2'}
        ]
    });
</script>
<form method="post" action="<?= $this->url("*/page/save"); ?>"class='form-horizontal'>
    <div class='form-group'>
        <label for="title" class='col-sm-3 col-md-3 col-lg-3'>Titolo pagina</label>
        <div class='col-sm-5 col-md-5 col-lg-5'>
            <input name="title" type="text" />
        </div>
    </div>
    <div class='form-group'>
        <label for="identifier"class='col-sm-3 col-md-3 col-lg-3'>Link pagina</label>
        <div class='col-sm-5 col-md-5 col-lg-5'>
            <input name="identifier" type="text" />
        </div>
    </div>
    <div class='form-group'>
        <label for="textarea"class='col-sm-3 col-md-3 col-lg-3'>Textarea</label>
        <div class='col-sm-12 col-md-12 col-lg-12'>
            <textarea name="content" style="width:100%"></textarea>
        </div>
    </div>
    <div class='col-sm-5 col-lg-5 col-sm-offset-3'>
        <input type="submit" value="SUBMIT"/>
    </div>
</form>
<?= $this->content; ?>