<?php
/**
 * Pagina per la gestione dei blocchi di pagina
 * @author Walter Fato <walter.fato@thinkopen.it>
 */
$lang = $this->language;
$arrayLingue = Top::getLanguages(true);
?>
<?= $this->render("layout/imagetool.php"); ?>
<?= $this->render("layout/tinyMCE_include.phtml"); ?>
<script>
    $(document).ready(function () {
        $("#salva").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#clonaparameter").remove();
            $(".required_entry").each(function () {
                if ($(this).val() == "") {
                    alert("Il campo '" + $(this).parent().prev("label").text() + "' deve essere valorizzato");
                    $.die();
                }
            });
            $("#formpage").submit();
        });


        $("#navbarblocchi li").click(function () {
            if ($(this).attr("id") == "tab_generali") {
                $(this).addClass("active");
                $("#tab_blocchi").removeClass("active");
                $("#contenttypecontenitor").hide("slow");
                $("#tab_shoulder").removeClass("active");
                $("#contentshoulder").hide("slow");
                $("#generale").show("slow");
            }
            if ($(this).attr("id") == "tab_blocchi") {
                $(this).addClass("active");
                $("#tab_generali").removeClass("active");
                $("#generale").hide("slow");
                $("#tab_shoulder").removeClass("active");
                $("#contentshoulder").hide("slow");
                $("#contenttypecontenitor").show();
            }
            if ($(this).attr("id") == "tab_shoulder") {
                $(this).addClass("active");
                $("#tab_generali").removeClass("active");
                $("#generale").hide("slow");
                $("#tab_blocchi").removeClass("active");
                $("#contenttypecontenitor").hide("slow");
                $("#contentshoulder").show();
            }
        });

        $("#delete").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#formpage").attr("action", "<?= $this->url("*/page/delete") ?>");
            $("#formpage").submit();
        });


        $("#cloneStruct").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#divclona").show("slow");
            $(this).hide();
        });

        $("#clone").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#formpage").submit();
        });

    });
</script> 

<div class="content">
    <a href='<?= BASE_URL . "admin/page"; ?>' ><button class='btn btn-sm alert-info'>Gestione Pagine</button></a>
    <?php
    $modelpage = ($this->data) ? $this->data : false;
    ?>
    <?php
    if ($this->codeResponse) {
        echo"<div class='row col-lg-12'";
        if ($this->codeResponse == "200") {
            echo" style='border:2px solid green; color:green;'>";
            echo "Blocchi salvati con successo";
        } else {
            echo " style='border:2px solid red; color:red;'>";
            echo "Errore in fase di salvataggio.";
        }
        echo "</div>";
    }
    ?>
    <?php if ($this->newPage) { ?>
        <div class='page-header'>
                <h3 style='text-align: center'>Informazioni Generali</h3>
                
        </div>
    <?php } else { ?>
        <h2 style="text-align: center">Pagina : <?= $modelpage->getTitle() ?></h2>
        <div class='page-header' id="navbarblocchi">
            <ul role="tablist" class="nav nav-tabs">
                <li id='tab_generali' class="active"><a>Informazioni generali</a></li>
                <li id='tab_blocchi'><a>Gestione Content</a></li>
                <?php if ($modelpage->getLayout() == "2" || $modelpage->getLayout() == "-2") { ?>
                    <li id='tab_shoulder'><a>Gestione Colonna</a></li>
                <?php } ?>
            </ul>
        </div>
    <?php } ?>
    <div class="row col-lg-12" id="generale">
        <form method="post" id='formpage' action="<?= $this->url("*/page/save"); ?>"class='form-horizontal'>

            <?php if (!$this->newPage) { ?>
                <input type='hidden' value='<?= $modelpage->getPage_id() ?>' id='page_id' name='page_id'>
            <?php } ?>
            <div class="col-lg-10">

                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Titolo pagina</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input id="pageName" name="title" type="text" class='form-control required_entry' value="<?= ($modelpage) ? $modelpage->getTitle() : ""; ?>" />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Link pagina</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input id='pageLink'  name="identifier" type="text" class='form-control required_entry'  value="<?= ($modelpage) ? $modelpage->getIdentifier() : ""; ?>" />
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Meta Keywords</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input name="meta_keywords" type="text" class='form-control' value="<?= ($modelpage) ? $modelpage->getMeta_keywords() : ""; ?>" />
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3'>Meta Description</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <input name="meta_description" type="text" class='form-control' value="<?= ($modelpage) ? $modelpage->getMeta_description() : ""; ?>" />
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Lingua</label>
                    <div class='col -sm-5 col-md-5 col-lg-5'>
                        <?php
                        if ($this->newPage) {
                            ?>
                            <input type="hidden" name = "language" value="it" />
                            <label class='col-sm-3 col-md-3 col-lg-3' >Italiano</label>
                            <?php
                        } else {
                            ?>
                            <input type="hidden" name = "language" value="<?= $lang ?>" />
                            <label class='col-sm-3 col-md-3 col-lg-3' ><?= $arrayLingue[$lang] ?></label>
                            <?php
                        }
                        ?>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='col-sm-5 col-lg-5 col-sm-offset-3'>
                        <div class='checkbox'>
                            <label>
                                <?php if ($this->newPage) { ?>
                                    <input name="is_active" type="checkbox"   />Attivo
                                <?php } else { ?>
                                    <?php if ($modelpage->getIs_active() == 1) { ?>
                                        <input name="is_active" type="checkbox"  checked/>Attivo
                                    <?php } else { ?>
                                        <input name="is_active" type="checkbox"   />Attivo
                                    <?php } ?>
                                <?php } ?>
                            </label>
                        </div>
                    </div>
                </div>
                <div class='form-group '>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Layout</label>
                    <div class='col-sm-5 col-md-5 col-lg-5'>
                        <select class="form-control required_entry" name ='layout' id='sceltaLayout' >
                            <option value=''>Seleziona una tipologia di layout</option>
                            <option value='1'>One column</option>
                            <option value='2' selected>2 column right</option>
                            <option value='-2'>2 column left</option>
                        </select>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>
                <div class='form-group '>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Content type</label>
                    <div class='col-sm-5 col-md-5 col-lg-5'>
                        <select class="form-control required_entry" name ='content_type' id='sceltaContentType' >
                            <option value=''>Seleziona una tipologia di contenuti</option>
                            <option value='0' selected>Fluid</option>
                            <option value='1'>Blocks</option>
                        </select>
                    </div>
                    <?= "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" ?>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3'>Immagine di testa</label>
                    <div class='col-sm-8 col-md-8 col-lg-8'>
                        <div class='input-group'>
                            <span class='input-group-btn'>
                                <button name="imagebutton" class="imageputter btn btn-default" data-idtarget="img_wide">Seleziona</button>
                            </span>
                            <input name="img_wide" id="img_wide" type="text" class='form-control ' value="<?= ($modelpage) ? $modelpage->getImg_wide() : ""; ?>" />
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3'>Facebook share img</label>
                    <div class='col-sm-8 col-md-8 col-lg-8'>
                        <div class='input-group'>
                            <span class='input-group-btn'>
                                <button name="imagebutton" class="imageputter btn btn-default" data-idtarget="fb_share_img">Seleziona</button>
                            </span>
                            <input name="fb_share_img" id="fb_share_img" type="text" class='form-control' value="<?= ($modelpage) ? $modelpage->getFb_share_img() : ""; ?>" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class=' col-sm-3 col-md-3 col-lg-3'>Facebook share desription</label>
                    <div class='col-sm-9 col-md-9 col-lg-9'>
                        <textarea name='fb_share_desc' class='tiny_normal'><?= ($modelpage) ? $modelpage->getFb_share_desc() : ""; ?></textarea>
                    </div>
                </div>
                <?php if (!$this->newPage) { ?>
                    <script>
                        $(document).ready(function () {
                            var selectLayout = "<?= $modelpage->getLayout(); ?>";
                            var selectContent_type = "<?= $modelpage->getContent_type(); ?>";
                            $("#sceltaLayout > option").each(function () {
                                if ($(this).attr("value") == selectLayout.toString()) {
                                    $(this).attr("selected", true);
                                }
                            });
                            $("#sceltaContentType > option").each(function () {
                                if ($(this).attr("value") == selectContent_type.toString()) {
                                    $(this).attr("selected", true);
                                }
                            });
                        });
                    </script>
                <?php } ?>
            </div>
            <div class="row col-lg-2" style="margin-top: 20px">
                <?php if (!$this->newPage) { ?>
                    <input id='delete' class='btn btn-default alert alert-danger' type="submit" value="Elimina pagina"/>
                    <?php if (!$this->newPage && $lang == "it") { ?>
                        <input id='cloneStruct' class='btn btn-default alert alert-info' type ="submit" value='Traduci per' />
                        <div id='divclona' style='display:none'>
                            <label>Seleziona la lingua in cui tradurre questa pagina:</label>
                            <select class="btn-sm" name ='language_clone' id='select_linguage_clone' >
                                <?php
                                foreach ($arrayLingue as $value => $label) {
                                    if ($value != $lang) {
                                        ?>
                                        <option value='<?= $value ?>' ><?= $label ?></option>
                                        <?php
                                    }
                                }
                                ?>
                            </select>
                            <label>Nome pagina</label>
                            <input name="name_clone" type="text" class='form-control' <?= ($modelpage) ? "value='" . $modelpage->getTitle() . "'" : "" ?> />
                            <label>Link pagina</label>
                            <input name="link_clone" type="text" class='form-control' <?= ($modelpage) ? "value='" . $modelpage->getIdentifier() . "'" : "" ?> />
                            <input id='clonaparameter' type ="hidden" value='1' name ="clona" />
                            <input id='clone' class='btn btn-default alert alert-info' type ="submit" value='Traduci' />
                        </div>
                    <?php } ?>
                <?php } ?>
                <input id='salva' class='btn btn-default alert alert-success' type="submit" value="Salva pagina"/>
            </div>
        </form>
    </div>
    <?php
    if (!$this->newPage) {
        $array = array();
        $array['page_id'] = $modelpage->getPage_id();
        if ($this->language) {
            $array['language'] = $this->language;
        }
        echo $this->action("createblocks", "page", "bo", $array);
        if ($modelpage->getLayout() == "2" || $modelpage->getLayout() == "-2") {
            echo $this->action("createblocksshoulder", "page", "bo", $array);
        }
    }
    ?>
</div>
