    <footer class=  "row">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="http://www.teatrosancarlo.it" target="_blank">Fondazione teatro San Carlo</a> <?php echo date('Y') ?></p>

        <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a
                href="http://www.thinkopen.it/">Thinkopen s.r.l.</a></p>
    </footer>

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="<?= BASE_URL ?>bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="<?= BASE_URL ?>js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src='<?= BASE_URL ?>bower_components/moment/min/moment.min.js'></script>
<script src='<?= BASE_URL ?>bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='<?= BASE_URL ?>js/jquery.dataTables.min.js'></script>

<!-- select or dropdown enhancer -->
<script src="<?= BASE_URL ?>bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="<?= BASE_URL ?>bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="<?= BASE_URL ?>js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="<?= BASE_URL ?>bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="<?= BASE_URL ?>bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="<?= BASE_URL ?>js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="<?= BASE_URL ?>js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="<?= BASE_URL ?>js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="<?= BASE_URL ?>js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="<?= BASE_URL ?>js/jquery.history.js"></script>
 <!--application script for Charisma demo--> 
<script src="<?= BASE_URL ?>js/charisma.js"></script>
</body>
</html>
