<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="<?= BASE_URL ?>js/calendar/jquery.fancybox.pack.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="<?= BASE_URL ?>js/bootstrap/plugins/tooltip.js"></script>
<script type="text/javascript" src="<?= BASE_URL ?>js/calendar/caledonian.js"></script>
<link rel="stylesheet" href="<?= BASE_URL ?>css/bootstrap-theme.min.css">
<link rel="stylesheet" href="<?= BASE_URL ?>css/jquery.fancybox.css" type="text/css" media="screen" charset="utf-8" />
<link href="<?= BASE_URL ?>css/caledonian.css" rel="stylesheet" type="text/css">