<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <title>Teatro SanCarlo Napoli - Amministrazione</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Teatro San Carlo Napoli - Amministrazione">
        <meta name="author" content="Thinkopen s.r.l.">
        <!-- The styles -->
        <link href="<?= BASE_URL ?>css/bootstrap.min_1.css" rel="stylesheet">
        <link href="<?= BASE_URL ?>css/charisma-app.css" rel="stylesheet">
        <link href='<?= BASE_URL ?>bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
        <link href='<?= BASE_URL ?>bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
        <link href='<?= BASE_URL ?>bower_components/chosen/chosen.min.css' rel='stylesheet'>
        <link href='<?= BASE_URL ?>bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
        <link href='<?= BASE_URL ?>bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
        <link href='<?= BASE_URL ?>css/jquery.noty.css' rel='stylesheet'>
        <link href='<?= BASE_URL ?>css/noty_theme_default.css' rel='stylesheet'>
        <link href='<?= BASE_URL ?>css/elfinder.min.css' rel='stylesheet'>
        <link href='<?= BASE_URL ?>css/elfinder.theme.css' rel='stylesheet'>
        <link href='<?= BASE_URL ?>css/jquery.iphone.toggle.css' rel='stylesheet'>
        <link href='<?= BASE_URL ?>css/uploadify.css' rel='stylesheet'>
        <link href='<?= BASE_URL ?>css/animate.min.css' rel='stylesheet'>
        <link href='<?= BASE_URL ?>css/sancarlo_bo.css' rel='stylesheet'>
        <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=GFS+Didot:400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>

        <!-- jQuery -->
        <script src="<?= BASE_URL ?>bower_components/jquery/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- The fav icon -->
        <link rel="shortcut icon" href="<?= BASE_URL ?>img/favicon.ico">

    </head>

    <body> 