<?= $this->render("layout/header.phtml"); ?>
<?= $this->render("layout/menu-top.phtml"); ?>
<div class="ch-container">
    <div class="row">
        <?php
        if (Top::isBoUserLogged()) {
            echo $this->render("layout/menu-left.phtml");
        }
        ?>
        <noscript>
        <div class="alert alert-block col-md-12">
            <h4 class="alert-heading">Warning!</h4>
            <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                enabled to use this site.</p>
        </div>
        </noscript>
        <div id="content" class="col-lg-10 col-sm-10">
            <?= $this->layout()->content; ?>
            <!-- content ends -->
        </div><!--/#content.col-md-0-->
    </div><!--/fluid-row-->
</div>
<div>
    <?= $this->render("layout/footer.phtml"); ?>
</div>