<!-- left menu starts -->
<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked">
            </div>
            <ul class="nav nav-pills nav-stacked main-menu">
                <li class="nav-header">Main</li>
                <li><a href="<?= Top::getBaseUrl(true) . "index/index" ?>"><span> Dashboard</span></a>
                </li>
                <li class="nav-header hidden-md">CMS</li>
                <li class="accordion" >
                    <a href="#"><i class="glyphicon glyphicon-plus"></i><span> Gestione CMS</span></a>
                    <ul class="nav nav-pills nav-stacked" >
                        <li><a class="ajax-link" href="<?= $this->url("*/page/index") ?>"><span> Pagine</span></a>
                        </li>
                        <li><a class="ajax-link" href="<?= $this->url("*/menu/index") ?>"><span> Menu</span></a>
                        </li>
                        <li><a class="ajax-link" href="<?= $this->url("*/footer/index") ?>"><span> Footer</span></a>
                        </li>
                        <li><a class="ajax-link" href="<?= $this->url("*/news/index") ?>"><span> News</span></a>
                        </li>
                        <li><a class="ajax-link" href="<?= $this->url("*/home/index") ?>"></i><span> Home</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header hidden-md">SHOW</li>
                <li class="accordion">
                    <a href="#"><i class="glyphicon glyphicon-plus"></i><span> Spettacoli</span></a>
                    <ul class="nav nav-pills nav-stacked">
                        <!--<li><a class="ajax-link" href="<?= $this->url("*/showattributes/index") ?>"><span> Attributi spettacoli</span></a></li>-->
                        <li><a class="ajax-link" href="<?= $this->url("*/show/index") ?>"><span> Gestione spettacoli</span></a></li>
                        <li><a class="ajax-link" href="<?= $this->url("*/calendar/index") ?>"></i><span> Calendario</span></a>
                        <li><a class="ajax-link" href="<?= $this->url("*/programm/index") ?>"></i><span> Gestione Cartelloni</span></a>
                        <li><a class="ajax-link" href="<?= $this->url("*/category/index") ?>"></i><span> Gestione Categorie</span></a>
                        <li><a class="ajax-link" href="<?= $this->url("*/show/archived") ?>"><span> Spettacoli archiviati</span></a></li>
                    </ul>
                </li>
                <li class="nav-header hidden-md">USERS</li>
                <li class="accordion"style="margin-left: 4px;margin-right: 4px;">
                    <a href="#"><i class="glyphicon glyphicon-plus"></i><span> Utenti</span></a>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a class="ajax-link" href="<?= Top::getBaseUrl(true) . "user/index" ?>"><span> Gestione Utenti</span></a></li>
                        <li><a class="ajax-link" href="<?= $this->url("*/useradmin/index") ?>"><span> Gestione Utenti di Back-Office</span></a></li>
                    </ul>
                </li>
                <li class="nav-header hidden-md">MEDIA</li>
                <li ><a class="ajax-link" href="<?= Top::getBaseUrl(true) . "upload/index" ?>"><span> Upload</span></a></li>
                <li class="nav-header hidden-md">CONFIGURAZIONI</li>
                <li ><a class="ajax-link" href="<?= Top::getBaseUrl(true) . "index/sitemap" ?>"><span> Gestione Sitemap</span></a></li>
                <li ><a class="ajax-link" href="<?= Top::getBaseUrl(true) . "index/reindex" ?>"><span> Gestione Indice di ricerca</span></a></li>
            </ul>
        </div>
    </div>
</div>
<!--/span-->
<!-- left menu ends -->