<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="hidden-xs hidden-sm hidden-md col-lg-3 navbar-default navbar-noshadow">
                <a class="img_logo_menu" href="<?= Top::getBaseUrl(); ?>" > <img src="<?= BASE_URL ?>img/SCUDOSANCARLO.jpg" class="img-responsive"></a>
            </div>
            <div class="hidden-xs hidden-sm hidden-md col-lg-2 navbar-default navbar-noshadow2">
                <a class="img_logo_menu" href="<?= Top::getBaseUrl(); ?>" ><img src="<?= BASE_URL ?>img/LOGOTYPESANCARLO.jpg" class="img-responsive"></a>
            </div>
            <div class="col-xs-12  col-sm-12 col-md-12  col-lg-3 col-lg-offset-4">
                <ul class="navwalt">
                    <li><a href="<?= BASE_URL ?>"><button class="btn btn-xs red ">Front-end</button></a></li>
                    <?php
                    if (Top::isBoUserLogged()) {
                        echo "<li><a>/</a>  
                            <li><a href=\"" . $this->url("admin/login/logout") . "\"><button class='btn btn-xs red '>Logout</button></a></li>";
                    }
                    ?>
                </ul>
            </div>
            <div class="col-xs-10 hidden-sm hidden-md hidden-lg logomenu">
                <a href="<?= Top::getBaseUrl(); ?>"><img src="<?= BASE_URL ?>img/logofooter.png" height="43px;"></a>
            </div>
            <div class="col-xs-2 hidden-md hidden-lg hidden-sm navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class=" hidden-xs col-sm-12 col-md-12 col-lg-7 divbenvenuto  ">
                <span class='navbar-collapse collapse benvenuto'><?php
                    if (Top::isBoUserLogged()) {
                        echo "Benvenuto " . Top::getUsername();
                    }
                    ?></span>
            </div>
        </div>
    </div>
</nav>

