<script>
    function elFinderBrowser(field_name, url, type, win) {
        tinymce.activeEditor.windowManager.open({
            url: "<?= BASE_URL . "/it/page/elfinder" ?>", // use an absolute path!
            title: 'Teatro San Carlo - File browser',
            width: 900,
            height: 450,
            resizable: 'yes'
        }, {
            setUrl: function (url) {
                win.document.getElementById(field_name).value = url.url;
            }
        });
        return false;
    }
    tinymce.init({
        selector: ".tiny_complete",
        theme: "modern",
        height: "400px",
        fontsize_formats: "8pt 9pt 10pt 11pt 12pt 14pt 16pt 18pt 20pt 22pt 24pt 26pt 28pt 30pt 32pt 34pt 36pt 40pt 50pt 56pt 60pt 66pt 70pt",
        font_formats: "Crimson text=Crimson text;Didot=GFS Didot;Ubuntu=Ubuntu,Crimson text;Ropa Sans=Ropa Sans",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "template paste textcolor colorpicker textpattern "
        ],
        file_browser_callback: elFinderBrowser,
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent ",
        toolbar2: "link image | print preview media | forecolor backcolor | fontselect | fontsizeselect  | top_calendar top_youtube top_twitter top_news",
        image_advtab: true,
        setup: function (ed) {
            ed.addButton('top_youtube', {
                title: 'Aggiungi Youtube',
                image: '<?= BASE_URL ?>img/editorYoutube.png',
                onclick: function () {
                    ed.focus();
                    ed.selection.setContent('{{youtube link=""}}');
                }
            });
            ed.addButton('top_calendar', {
                title: 'Aggiungi Calendario',
                image: '<?= BASE_URL ?>img/editorCalendar.png',
                onclick: function () {
                    ed.focus();
                    ed.selection.setContent("{{calendar}}");
                }
            });
            ed.addButton('top_twitter', {
                title: 'Aggiungi Widget Twitter',
                image: '<?= BASE_URL ?>img/editorTwit.png',
                onclick: function () {
                    ed.focus();
                    ed.selection.setContent("{{twitter}}");
                }
            });
            ed.addButton('top_news', {
                title: 'Aggiungi Widget News',
                image: '<?= BASE_URL ?>img/editorNews.png',
                onclick: function () {
                    ed.focus();
                    ed.selection.setContent("{{w_news}}");
                }
            });
        }
    });
    tinymce.init({
        selector: ".tiny_content",
        theme: "modern",
        height: "400px",
        fontsize_formats: "8pt 9pt 10pt 11pt 12pt 14pt 16pt 18pt 20pt 22pt 24pt 26pt 28pt 30pt 32pt 34pt 36pt 40pt 50pt 56pt 60pt 66pt 70pt",
        font_formats: "Crimson text=Crimson text;Didot=GFS Didot;Ubuntu=Ubuntu,Crimson text;Ropa Sans=Ropa Sans",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "template paste textcolor colorpicker textpattern "
        ],
        file_browser_callback: elFinderBrowser,
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent ",
        toolbar2: "link image | print preview media | forecolor backcolor | fontselect | fontsizeselect  | top_youtube ",
        image_advtab: true,
        setup: function (ed) {
            ed.addButton('top_youtube', {
                title: 'Aggiungi Youtube',
                image: '<?= BASE_URL ?>img/editorYoutube.png',
                onclick: function () {
                    ed.focus();
                    ed.selection.setContent('{{youtube link=""}}');
                }
            });
        }
    });
    tinymce.init({
        selector: ".tiny_normal",
        theme: "modern",
        height: "200px",
        fontsize_formats: "8pt 9pt 10pt 11pt 12pt 14pt 16pt 18pt 20pt 22pt 24pt 26pt 28pt 30pt 32pt 34pt 36pt 40pt 50pt 56pt 60pt 66pt 70pt",
        font_formats: "Crimson text=Crimson text;Didot=GFS Didot;Ubuntu=Ubuntu,Crimson text;Ropa Sans=Ropa Sans",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "template paste textcolor colorpicker textpattern "
        ],
        file_browser_callback: elFinderBrowser,
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent",
        toolbar2: "link image | print preview media | forecolor backcolor | fontselect | fontsizeselect  | ",
        image_advtab: true
    });
    //
    tinymce.init({
        selector: ".tiny_content_tabella",
        theme: "modern",
        height: "400px",
        fontsize_formats: "8pt 9pt 10pt 11pt 12pt 14pt 16pt 18pt 20pt 22pt 24pt 26pt 28pt 30pt 32pt 34pt 36pt 40pt 50pt 56pt 60pt 66pt 70pt",
        font_formats: "Crimson text=Crimson text;Didot=GFS Didot;Ubuntu=Ubuntu,Crimson text;Ropa Sans=Ropa Sans",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "template paste textcolor colorpicker textpattern "
        ],
        file_browser_callback: elFinderBrowser,
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent ",
        toolbar2: "link image | print preview media | forecolor backcolor | fontselect | fontsizeselect  | top_youtube | top_1column top_2columns top_4columns",
        image_advtab: true,
        setup: function (ed) {

            ed.addButton('top_youtube', {
                title: 'Aggiungi Youtube',
                image: '<?= BASE_URL ?>img/editorYoutube.png',
                onclick: function () {
                    ed.focus();
                    ed.selection.setContent('{{youtube link=""}}');
                }
            });

            ed.addButton('top_1column', {
                title: '1 column',
                image: '<?= BASE_URL ?>img/tabtiny.png',
                onclick: function () {
                    ed.focus();
                    ed.selection.setContent('<table style="height: 148px;" width="750"> <tbody> <tr> <td>&nbsp;</td> <td> <p><span style="font-size: 12pt;"><strong><span style="color: #4c4d4f;">Prezzo</span></strong></span></p> <p><span style="font-size: 12pt;"><strong><span style="color: #4c4d4f;">Euro</span></strong></span></p> </td> </tr> <tr> <td> <p><span style="font-size: 11pt;"><strong><span style="color: #4c4d4f;">Posto unico</span></strong></span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> </tbody> </table>');
                }
            });
            ed.addButton('top_2columns', {
                title: '2 columns',
                image: '<?= BASE_URL ?>img/tabtiny2.png',
                onclick: function () {
                    ed.focus();
                    ed.selection.setContent('<table style="height: 717px;" width="686"> <tbody> <tr> <td> <p>&nbsp;</p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;"><strong>Intero</strong></span></p> <p><span style="color: #4c4d4f; font-size: 12pt;"><strong>Euro &nbsp; &nbsp; &nbsp;</strong></span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;"><strong>Ridotto</strong></span></p> <p><span style="color: #4c4d4f; font-size: 12pt;"><strong>Euro &nbsp; &nbsp;</strong></span></p> </td> </tr> <tr> <td> <div><span style="color: #4c4d4f; font-size: 10pt;"><strong>Poltrona</strong></span></div> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">&nbsp; &nbsp; &nbsp; &nbsp;</span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <div><span style="color: #4c4d4f; font-size: 10pt;"><strong>Palco I e II fila&nbsp;</strong><strong>parapetto centrali</strong></span></div> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <div><span style="color: #4c4d4f; font-size: 10pt;"><strong>Palco I e II fila&nbsp;</strong><strong>dietro centrali</strong></span></div> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <div><span style="color: #4c4d4f; font-size: 10pt;"><strong>Palco Reale</strong></span></div> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <div><span style="color: #4c4d4f; font-size: 10pt;"><strong>Palco I e II fila&nbsp;</strong><strong>parapetto laterali</strong></span></div> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <div><span style="color: #4c4d4f; font-size: 10pt;"><strong>Palco I e II fila&nbsp;</strong><strong>dietro laterali</strong></span></div> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <div><span style="color: #4c4d4f; font-size: 10pt;"><strong>Palco III e IV fila<span style="color: #4c4d4f;">&nbsp;</span></strong><strong>parapetto centrali</strong></span></div> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <div><span style="color: #4c4d4f; font-size: 10pt;"><strong>Palco III e IV fila<span style="color: #4c4d4f;">&nbsp;</span></strong><strong>dietro centrali</strong></span></div> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <div><span style="color: #4c4d4f; font-size: 10pt;"><strong>Palco III e IV fila&nbsp;</strong><strong>parapetto laterali</strong></span></div> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <div><span style="color: #4c4d4f; font-size: 10pt;"><strong>Palco III IV fila&nbsp;</strong><strong>dietro laterali</strong></span></div> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <div><span style="color: #4c4d4f; font-size: 10pt;"><strong>Balconata V e VI fila</strong></span></div> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <div><span style="color: #4c4d4f; font-size: 10pt;"><strong>Giovani Unider30&nbsp;</strong><strong>(palchi laterali)</strong></span></div> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> </tbody> </table>');
                }
            });
            ed.addButton('top_4columns', {
                title: '4 columns',
                image: '<?= BASE_URL ?>img/tabtiny4.png',
                onclick: function () {
                    ed.focus();
                    ed.selection.setContent('<table style="height: 790px;" width="723"> <tbody> <tr> <td> <p>&nbsp;</p> </td> <td colspan="3"> <p style="text-align: left;"><span style="font-size: 12pt;"><strong><span style="color: #881c0d;">Turno A</span></strong></span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td colspan="3"> <p style="text-align: left;"><span style="font-size: 12pt;"><span style="color: #881c0d;"><strong>Altri Turni</strong></span>&nbsp;</span></p> </td> </tr> <tr> <td> <p><span style="color: #4c4d4f;">&nbsp;</span></p> </td> <td style="text-align: left;"> <p><span style="color: #4c4d4f; font-size: 12pt;"><strong>Intero</strong></span></p> </td> <td style="text-align: left;">&nbsp;</td> <td style="text-align: left;"> <p><span style="color: #4c4d4f; font-size: 12pt;"><strong>Ridotto*</strong></span></p> </td> <td style="text-align: left;"><span style="font-size: 12pt;">&nbsp;</span></td> <td style="text-align: left;"> <p><span style="color: #4c4d4f; font-size: 12pt;"><strong>Intero</strong></span></p> </td> <td style="text-align: left;">&nbsp;</td> <td style="text-align: left;"> <p><span style="color: #4c4d4f; font-size: 12pt;"><strong>Ridotto*</strong></span></p> </td> </tr> <tr> <td> <p><span style="color: #4c4d4f; font-size: 10pt;"><strong>Poltrona</strong></span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">&nbsp; &nbsp;</span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td> <p><span style="font-size: 12pt;">&nbsp;</span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">&nbsp; &nbsp;</span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <p><span style="color: #4c4d4f;"><span style="font-size: 10pt;"><strong>Palco I e II fila&nbsp;</strong><strong>parapetto centrali</strong></span></span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <p><span style="color: #4c4d4f;"><span style="font-size: 10pt;"><strong>Palco I e II fila&nbsp;</strong><strong>dietro centrali</strong></span></span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <p><span style="color: #4c4d4f; font-size: 10pt;"><strong>Palco reale</strong></span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <p><span style="color: #4c4d4f;"><span style="font-size: 10pt;"><strong>Palco I e II fila&nbsp;</strong><strong>parapetto laterali</strong></span></span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <p><span style="color: #4c4d4f;"><span style="font-size: 10pt;"><strong>Palco I e II fila&nbsp;</strong><strong>dietro laterali</strong></span></span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <p><span style="color: #4c4d4f;"><span style="font-size: 10pt;"><strong>Palco III e IV fila&nbsp;</strong><strong>parapetto centrali</strong></span></span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <p><span style="color: #4c4d4f;"><span style="font-size: 10pt;"><strong>Palco III e IV fila&nbsp;</strong><strong>dietro centrali</strong></span></span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <p><span style="color: #4c4d4f;"><span style="font-size: 10pt;"><strong>Palco III e IV fila&nbsp;</strong><strong>parapetto laterali</strong></span></span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <p><span style="color: #4c4d4f;"><span style="font-size: 10pt;"><strong>Palco III e IV fila&nbsp;</strong><strong>dietro laterali</strong></span></span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <p><span style="color: #4c4d4f; font-size: 10pt;"><strong>Balconata V e VI fila&nbsp;</strong></span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> <tr> <td> <p><span style="color: #4c4d4f;"><span style="font-size: 10pt;"><strong>Giovani Under30&nbsp;</strong><strong>(palchi laterali)</strong></span></span></p> </td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td><span style="font-size: 12pt;">&nbsp;</span></td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> <td>&nbsp;</td> <td> <p><span style="color: #4c4d4f; font-size: 12pt;">0</span></p> </td> </tr> </tbody> </table>');
                }
            });
        }
    });
</script>