<?= $this->content; ?>
<?php
$results = $this->firstResult;
?>
<div id="chart"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type = "text/javascript" > google.load("visualization", "1", {packages: ["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Day');
        data.addColumn('number', 'visits');
        data.addRows([<?php
foreach ($results as $result) {
    echo '["' . date('M j', strtotime($result->getDate())) . '", ' . $result->getVisits() . '],';
}
?>]);
        var chart = new google.visualization.AreaChart(document.getElementById('chart'));
        chart.draw(data, {width: (jQuery(document).width()/1.27), height: 320, title: '<?php echo "Grafico visualizzazioni dal ". date('j M Y', strtotime('-30 day')) . ' al ' . date('j M Y'); ?>', colors: ['#058dc7', '#e6f4fa'], areaOpacity: 0.1, hAxis: {textPosition: 'in', showTextEvery: 5, slantedText: false, textStyle: {color: '#058dc7', fontSize: 10}}, pointSize: 5, legend: 'none', chartArea: {left: 0, top: 30, width: "100%", height: "100%"}});
    }
</script>

<?php
$results = $this->secondResult;

function secondMinute($seconds) {
    $minResult = floor($seconds / 60);
    if ($minResult < 10) {
        $minResult = 0 . $minResult;
    }
    $secResult = ($seconds / 60 - $minResult) * 60;
    if ($secResult < 10) {
        $secResult = 0 . round($secResult);
    } else {
        $secResult = round($secResult);
    }
    return $minResult . "." . $secResult;
}


echo '<div id="page-analtyics" class="page-analytics">';
echo '<div class="row">';
echo '<div  class="col-lg-5 col-md-5 col-sm-6 col-xs-12">';
echo '<span class="analytics col-lg-12 col-md-8 col-sm-12 col-xs-12">Analytics</span>';
echo '<span class="col-lg-8 col-md-8 col-sm-12 col-xs-12">VIsualizzazioni totali di pagina:</span><span class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><strong>' . $this->pageviews . '</strong></span>';
echo '<span class="col-lg-8 col-md-8 col-sm-12 col-xs-12">Visite totali:</span></span><span class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><strong>' . $this->visits . '</strong></span>';
echo '<span class="col-lg-8 col-md-8 col-sm-12 col-xs-12">Tempo medio di navigazione:</span></span><span class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><strong>' . $this->avgTime . '</strong></span>';
echo '<span class="col-lg-8 col-md-8 col-sm-12 col-xs-12">Frequenza di rimbalzo:</span></span><span class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><strong>' . $this->bounceRate . '%</strong></span>';
echo '</div>';
echo '<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">';
echo '<span class="analytics col-lg-12 col-md-8 col-sm-12 col-xs-12">Server Info</span>';
echo $this->freeRam;
echo $this->serverConfig;
echo "</div>";
echo "</div>";
echo "</div>";
?>
<link id="bs-css" href="<?= BASE_URL ?>css/bootstrap-table.css" rel="stylesheet">
<script src="<?= BASE_URL ?>js/bootstrap-table.js"></script>
<div style="text-align: center;font-size: 20px;"><b>Ultimi utenti registrati</b></div>
<table id="events-table" data-toggle="table" data-url="<?= BASE_URL . "admin/index/userrender" ?>" data-click-to-select="true" data-cache="false" data-height="300px" data-user-columns="true" data-search="false" data-select-item-name="toolbar1" data-side-pagination="server" data-pagination="false">
    <thead>
        <tr>
            <?php
            $array_no_fields = array("password", "updated_at", "newsletter", "publish", "dob", "gender", "is_facebook", "user_id");
            foreach ($this->userattributes as $_attribute) {
                if (!in_array($_attribute, $array_no_fields)) {
                    echo "<th data-field='" . $_attribute . "' data-sortable=\"true\" class='cliccable'>" . $_attribute . "</th>";
                }
            }
            ?>
        </tr>
    </thead>
</table>
<script>
    $(function () {
        $("#events-table").on('click-row.bs.table', function (e, row, $element) {
            window.location.href = "<?= BASE_URL . "admin/user/update/user_id/" ?>" + row.user_id;
        });
    });
</script>

<div id="calendar"></div>
