<div id="demo">

    <div id="titolo">
        <h2 class="title-benvenuto">Utilizzando il menu business potrai:</h2>
    </div>

    <div id="boxetti">

        <div id="custom"><img src="<?php echo IMG_BO_URL; ?>cust-page.png"/></div>

        <div id="gestione-pag-fb"><img src="<?php echo IMG_BO_URL; ?>fan-page.png" /></div>

        <div id="gestione-video"><img src="<?php echo IMG_BO_URL; ?>video.png"/></div>
    </div>


</div>
