<div class="text-center">
    <a href="<?= Top::getBaseUrl(true) . "index/completereindex" ?>"><button class=' btn-lg  btn-success'style='margin-top: 150px;'>Effettua la completa reindicizzazione dei contenuti</button></a>
<div id="calendar"></div>
</div>