<div class="row text-center">
    <div class="row">
        <h3>Ultimo aggiornamento : <span class='lastupdate'><?= $this->lastupdate; ?></span></h3>
    <br/>
    <br/>
        <a href='<?= Top::getBaseUrl(true) ?>index/downloadsitemap' target="_blank"><button class="btn btn-large btn-info download">Download Sitemap</button></a>
    </div>
    <br/>
    <br/>
    <div class="row">
        <button class="btn btn-large btn-success rigenera">Rigenera Sitemap</button>
    </div>
    <br/>
    <div class="row risposta">
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".rigenera").click(function (e) {
            e.preventDefault;
            $.ajax({
                type: "POST",
                url: '<?= Top::getBaseUrl(true) ?>index/generatesitemap'
            }).done(function (msg) {
                $(".lastupdate").html('<?= date("d-m-Y") ?>');
                $(".risposta").html(msg);
            });
        });
    });
</script>