<HTML>
<head>
    <?php echo $this->headTitle(); ?>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script>
        var base_url = "<?= Top::getBaseUrl(); ?>";
    </script>
    <!--[if lte IE 8]><script src="<?= Top::getBaseUrl(); ?>js/html5shiv.js"></script><![endif]-->
    <script src="<?= Top::getBaseUrl(); ?>js/jquery.min.js"></script>
    <script src="<?= Top::getBaseUrl(); ?>js/skel.min.js"></script>
    <script src="<?= Top::getBaseUrl(); ?>js/skel-layers.min.js"></script>
    <script src="<?= Top::getBaseUrl(); ?>js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="<?= Top::getBaseUrl(); ?>css/skel.css" />
        <link rel="stylesheet" href="<?= Top::getBaseUrl(); ?>css/style.css" />
        <link rel="stylesheet" href="<?= Top::getBaseUrl(); ?>css/style-xlarge.css" />
    </noscript>
</head>