<?= $this->render('layout/head.phtml'); ?>
<?= $this->action("getjquery", "index", 'default', array("controller" => Zend_Controller_Front::getInstance()->getRequest()->getControllerName())); ?>
<body id="top">
<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="<?= Top::getBaseUrl(); ?>">Thinkopen</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="<?= Top::getBaseUrl(); ?>">Home</a></li>
            <li><a href="<?= Top::getBaseUrl(); ?>default/product">Visualizza prodotti</a></li>
            <li><a href="<?= Top::getBaseUrl(); ?>default/product/create">Aggiungi prodotti</a></li>
            <?php
            if (!Default_Model_Mapper_StarsolutionsUser::isLoggedIn()) {
                echo "<li><a href=\"" . Top::getBaseUrl() . "default/user/login\">Sign In</a></li>";
                echo "<li><a href=\"" . Top::getBaseUrl() . "default/user/create\" class=\"button special\">Sign Up</a></li>";
            } else {
                echo "<li><a href=\"" . Top::getBaseUrl() . "default/user/logout\">Logout</a></li>";
                echo "<li><a href=\"" . Top::getBaseUrl() . "default/user/account\" class=\"button special\">Account</a></li>";
            }
            ?>
        </ul>
    </nav>
</header>
<!-- Content -->
<?php echo $this->layout()->content ?>
<?= $this->render('layout/footer.phtml'); ?>
</body>
