<link id="bs-css" href="<?= BASE_URL ?>css/bootstrap-table.css" rel="stylesheet">
<script src="<?= BASE_URL ?>js/bootstrap-table.js"></script>
<table id="archived-table" data-toggle="table" data-url="<?= BASE_URL . "admin/show/jsonrenderarchived" ?>" data-click-to-select="true" data-cache="false" data-height="300px" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-side-pagination="server" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]">
    <thead>
        <tr>
            <?php
            $array_no_fields = array("content", "description", "info_acquisto", "tabella_prezzi", "img_wide", "location");
            foreach ($this->attributes as $_attributeName => $_attributeLabel) {
                if (!in_array($_attributeName, $array_no_fields)) {
                    echo "<th data-field='" . ((is_int($_attributeName)) ? $_attributeLabel : $_attributeName)  . "' data-sortable=\"true\" class='cliccable'>" . $_attributeLabel . "</th>";
                }
            }
            ?>
        </tr>
    </thead>
</table>
<script>
    $(function () {
        $("#archived-table").on('click-row.bs.table', function (e, row, $element) {
            window.location.href = "<?= BASE_URL . "admin/show/archiveddetail/show_id/" ?>" + row.show_id;
        });
    });
</script>