<div class='form-group'>
    <label class='col-sm-3 col-md-3 col-lg-3' ><?= $this->attribute['attribute_label'] ?></label>
    <?php
    $chekcAttributeLinguage = true;
    if ($this->lang != false) {
        $chekcAttributeLinguage = in_array($this->attribute['attribute_name'], $this->attributiInLingua);
        ?>
        <span class='col-sm-1 col-md-1 col-lg-1'><input class="enablefield" data-attributename="<?= $this->attribute['attribute_name'] ?>" type="checkbox" <?php echo (($chekcAttributeLinguage) ? "checked='checked'" : "") ?>></span>
        <?php
    }
    ?>
    
    <?php
    if ($this->showContent != false) {
        $_attributeToGet = "get" . ucfirst($this->attribute['attribute_name']);
        $_attributeContent = ($this->showContent->{$_attributeToGet}()) ? $this->showContent->{$_attributeToGet}() : "";
    } else {
        $_attributeContent = NULL;
    }
    ?>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <input <?php echo ((!$chekcAttributeLinguage) ? 'disabled="disabled"' : "") ?> id="<?= $this->attribute['attribute_name'] ?>" name="dati[<?= $this->attribute['attribute_name'] ?>]" type="text" class='form-control <?= ($this->attribute['is_required'] == 1) ? "required_entry" : "" ?>' value="<?= $_attributeContent ?>" />
    </div>
    <?= ($this->attribute['is_required'] == 1) ? "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" : "" ?>
</div>
<script>
    $(function () {
        $("#<?= $this->attribute['attribute_name'] ?>").datepicker($.datepicker.regional['it']);
    });
</script>