<div class='form-group'>
     <label class='col-sm-3 col-md-3 col-lg-3' ><?= $this->attribute['attribute_label'] ?></label>
    <?php
    $chekcAttributeLinguage = true;
    if ($this->lang != false) {
        $chekcAttributeLinguage = in_array($this->attribute['attribute_name'], $this->attributiInLingua);
        ?>
        <span class='col-sm-1 col-md-1 col-lg-1'><input class="enablefield" data-attributename="<?= $this->attribute['attribute_name'] ?>" type="checkbox" <?php echo (($chekcAttributeLinguage) ? "checked='checked'" : "") ?>></span>
        <?php
    }
    ?>
   <?= ($this->attribute['is_required'] == 1) ? "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" : "" ?>
    <?php
    if ($this->showContent != false) {
        $_attributeToGet = "get" . ucfirst($this->attribute['attribute_name']);
        $_attributeContent = $this->showContent->{$_attributeToGet}();
    } else {
        $_attributeContent = NULL;
    }
    if($this->attribute['attribute_name'] == "info_acquisto" && $_attributeContent == ""){
        $_attributeContent = "<p>* Il prezzo ridotto è riservato ai titolari delle Carte dei programmi di Membership, ai gruppi di almeno 10 persone e ai membri di enti, CRAL ed associazioni convenzionati con il Teatro di San Carlo</p><p><b>Informazioni e Prenotazioni</b></p><p>L'abbonamento Opera e Balletto 2014/2015 consente di assistere a 12 spettacoli:</p><p>- 10 a posto fisso al Teatro di San Carlo</p><p>- 2 a posto libero al Teatro di Corte</p><p>(L'isola disabitata / Otello)</p><p><b>TUTTI i titoli sono obbligatori</b></p><p>Gli abbonati del San Carlo per le future generazioni. L'abbonamento Opera e Balletto 2014/2015 permette di donare, a tutti gli abbonati, 4 tagliandi aggiuntivi della Stagione Sinfonica da destinare ai nostri giovani(Inaugurazione Gabriele Ferro, Muai Tang / Rudolf Buchbinder, Eduard Zilberkant / Evelyn Glennie, Alejo Pérez / Julian Rachlin).</p><p>Gli abbonati alla Stagione d'Opera e Balletto che volessero acquistare anche l'abbonamento della Stagione Sinfonica avranno diritto al prezzo ridotto(max due abbonamneti Sinfonica per ogni abbonamento Opera e Balletto acquistato). Le recite in abbonamento, di norma, prevedono il Primo Cast. Ove diveramente segnalato, gli abbonati possono effettuare il loro cambio turno entro il 31 dicembre 2014 rivolgendosi alla Biglietteria del Teatro nei normali orari di apertura.</p><p><b>Il periodo di prelazione per i nostri abbonati va dal 19 maggio al 3 agosto 2014 compresi. Dopo questa data, i posti in abbonamento non rinnovati verranno messi in vendita</b></p>";
    }
    $tipeTiny="tiny_content_tabella";
    if($this->attribute['attribute_name'] == "tabella_prezzi" && $_attributeContent == ""){
         $tipeTiny="tiny_content_tabella";
    }
    ?>
        
    <div class="col-sm-12 col-md-12 col-lg-12" id="contenitore_<?= $this->attribute['attribute_name'] ?>" <?php echo ((!$chekcAttributeLinguage) ? 'style="display:none"' : "") ?>>
        <textarea <?php echo ((!$chekcAttributeLinguage) ? 'disabled="disabled"' : "") ?> class='<?= $tipeTiny?> edtextarea' name='dati[<?= $this->attribute['attribute_name'] ?>]'><?= $_attributeContent ?></textarea>
    </div>
</div>