<div class='form-group'>
    <?php
    $chekcAttributeLinguage = true;
    $_isRequired = in_array($this->attribute['attribute_name'], $this->requiredAttributes);
    if ($this->showContent != false) {
        $_attributeToGet = "get" . ucfirst($this->attribute['attribute_name']);
        $_attributeContent = ($this->showContent->{$_attributeToGet}()) ? $this->showContent->{$_attributeToGet}() : NULL;
    } else {
        $_attributeContent = NULL;
    }
    if (!$this->newPage && $this->lang != false) {
        $chekcAttributeLinguage = in_array($this->attribute['attribute_name'], $this->attributiInLingua);
        ?>
    <span class='col-sm-1 col-md-1 col-lg-1'><input class="enablefield" data-attributename="<?= $this->attribute['attribute_name'] ?>" type="checkbox" <?php echo (($chekcAttributeLinguage) ? "checked='checked'" : "")?>></span>
        <?php
    }
    if ((stristr($this->attribute['attribute_name'], "img"))) {
        ?>
        <label class='col-sm-3 col-md-3 col-lg-3' ><?= $this->attribute['attribute_label'] ?></label>
        <div class='col-sm-5 col-md-5 col-lg-5'>
            <div class='input-group'>
                <span class='input-group-btn'>
                    <button name="imagebutton" <?php echo ((!$chekcAttributeLinguage == true) ? 'style="display: none;"' : "") ?> class="imageputter btn btn-default" data-idtarget="<?= $this->attribute['attribute_name'] ?>">Seleziona</button>
                </span>
                <input type="text" <?php echo ((!$chekcAttributeLinguage == true) ? 'disabled="disabled"' : "") ?> class="form-control imagge" id="<?= $this->attribute['attribute_name'] ?>" name="dati[<?= $this->attribute['attribute_name'] ?>]" value="<?= $_attributeContent ?>"/>
            </div>
        </div>
        <?= ($this->attribute['is_required'] == 1) ? "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" : "" ?>

    <?php } else { ?>

        <label class='col-sm-3 col-md-3 col-lg-3' ><?= $this->attribute['attribute_label'] ?></label>
        <div class='col-sm-5 col-md-5 col-lg-5'>
            <input <?php echo (!$chekcAttributeLinguage  ? 'disabled="disabled"' : "") ?> name="dati[<?= $this->attribute['attribute_name'] ?>]" type="text" class='form-control <?= ($this->attribute['is_required'] == 1) ? "required_entry" : "" ?>' value="<?= $_attributeContent ?>" />
        </div>
        <?= ($this->attribute['is_required'] == 1) ? "<div class='col-sm-1 col-md-1 col-lg-1'>*Obbligatorio</div>" : "" ?>
    <?php } ?>
</div>