<?php
/**
 * Pagina per la gestione dei blocchi di pagina
 * @author Walter Fato <walter.fato@thinkopen.it>
 */
?>

<?= $this->render("layout/imagetool.php"); ?>
<?= $this->render("layout/tinyMCE_include.phtml"); ?>

<style type="text/css">
    body { font-family:arial, verdana, sans-serif;}
    .button {
        width: 100px;
        position:relative;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        display: inline;
        margin:0 3px 3px 0;
        padding:1px 0;
        text-align:center;
        border:1px solid #ccc;
        background-color:#eee;
        margin:1em .5em;
        padding:.3em .7em;
        border-radius:5px; 
        -moz-border-radius:5px; 
        -webkit-border-radius:5px;
        cursor:pointer;
    }
</style>
<script>
    $(document).ready(function () {
        $(".enablefield").click(function () {
            var checked = $(this).is(":checked");
            var attributeToEnable = $(this).data("attributename");
            var attributeElement = $('#formpage [name="dati[' + attributeToEnable + ']"]');
            if (attributeElement.hasClass("edtextarea")) {
                if (checked == false) {
                    $("#contenitore_" + attributeToEnable).hide();
                } else {
                    $("#contenitore_" + attributeToEnable).show();
                }
            } else {
                if (attributeElement.hasClass("imagge")) {
                    if (checked == false) {
                        attributeElement.parent().find("span > button").hide();
                    } else {
                        attributeElement.parent().find("span > button").show();
                    }
                }
            }
            if (checked == false) {
                attributeElement.attr("disabled", "disabled");
            } else {
                attributeElement.removeAttr("disabled");
            }
        });
        $("#salva").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var lay = $("#sceltaLayout").val();
            var conttype = $("#sceltaContentType").val();
            $(".required_entry").each(function () {
                if ($(this).val() == "") {
                    alert("Il campo '" + $(this).parent().prev().text() + "' deve essere valorizzato");
                    $.die();
                }
            });
            $("#formpage").submit();
        });
        var pre_language = "<?= ($this->lang) ? $this->lang : NULL ?>";
        var id_show = "<?= (!$this->newPage) ? $this->data->getShow_id() : false; ?>";
        var archived_show = "<?= (!$this->archived) ? "false" : "true" ?>";
        if (id_show) {
            $("#select_linguage").change(function () {
                var check = confirm("Le modifiche non salvate andranno perse. Sei sicuro di voler continuare?");
                if (check) {
                    var lang = ($(this).val() != "it") ? "lang/" + $(this).val() : "";
                    if (archived_show === "true") {
                        window.location.href = ("<?= BASE_URL ?>admin/show/archiveddetail/show_id/" + id_show + "/" + lang);
                    } else {
                        window.location.href = ("<?= BASE_URL ?>admin/show/update/show_id/" + id_show + "/" + lang);
                    }
                } else {
                    $(this).val(pre_language);
                }
            });
            $("#dialog").dialog({
                resizable: false,
                height: 200,
                modal: true,
                autoOpen: false,
                overlay: {
                    backgroundColor: '#000',
                    opacity: 0.5
                },
                buttons: {
                    'Archivia lo show': function () {
                        $("#formpage").attr("action", "<?= $this->url("*/show/archive") ?>");
                        $(this).dialog('close');
                        $("#formpage").submit();
                    },
                    Annulla: function () {
                        $(this).dialog('close');
                    }
                }
            });
        }

        if (archived_show === "true") {
            $("#archive_dialog").dialog({
                resizable: false,
                height: 200,
                modal: true,
                autoOpen: false,
                overlay: {
                    backgroundColor: '#000',
                    opacity: 0.5
                },
                buttons: {
                    'Duplica lo show': function () {
                        $("#formpage").attr("action", "<?= $this->url("*/show/duplicate") ?>");
                        $(this).dialog('close');
                        $("#formpage").submit();
                    },
                    Annulla: function () {
                        $(this).dialog('close');
                    }
                }
            });
        }
        $("#duplicate").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#archive_dialog").dialog("open");
        });

        $("#delete").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#formpage").attr("action", "<?= $this->url("*/show/delete") ?>");
            $("#formpage").submit();
        });

        $("#archive").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $("#dialog").dialog("open");
        });
    });
    jQuery(function ($) {
        $.datepicker.regional['it'] = {
            closeText: 'Chiudi',
            prevText: '&#x3c;Prec',
            nextText: 'Succ&#x3e;',
            currentText: 'Oggi',
            monthNames: ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno',
                'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre'],
            monthNamesShort: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu',
                'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic'],
            dayNames: ['Domenica', 'Luned&#236', 'Marted&#236', 'Mercoled&#236', 'Gioved&#236', 'Venerd&#236', 'Sabato'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven', 'Sab'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Me', 'Gi', 'Ve', 'Sa'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['it']);
    });
</script> 
<div class="content">
    <div class="col-lg-6 ">
        <a href='<?= BASE_URL . "admin/show"; ?>' ><button class='btn btn-sm alert-info'>Gestione Spettacoli</button></a>
    </div>
    <?php if(!$this->archived){ ?>
    <div class="col-lg-6 "style="text-align: right">
        <div class="col-lg-12 " style="text-align: right">
            Seleziona lingua per cui vuoi modificare i valori
        </div>
        <div class="col-lg-12 " style="text-align: right">
            <select class="form-control" style="width:25%;float: right" name="dati[language]" id="select_linguage">
                <?php
                $lang = $this->language;
                foreach (Top::getLanguages(true) as $value => $label) {
                    if ($lang) {
                        ?>
                        <option value='<?= $value ?>' <?= ($lang == $value) ? "selected" : ""; ?> ><?= $label ?></option>
                        <?php
                    } else {
                        ?>
                        <option value='<?= $value ?>' <?= ($value == "it") ? "selected" : ""; ?> ><?= $label ?></option>
                        <?php
                    }
                }
                ?>
            </select>
        </div>
    </div>
    <?php } ?>
    <div class='page-header row'>
        <div class="col-lg-12 ">
            <h3 style="text-align: center">Informazioni Generali</h3>
        </div>
        <?php
        $disableInput = ((!$this->newPage && $this->language != false) ? "disabled='disabled'" : "");
        if (!$this->newPage) {
            ?>

        <?php } ?>
        <?php
        $arraycategorie = Top::getModel("bo_mapper/category")->getArrayCategories();
        if ($this->codeResponse) {
            echo"<div class='row col-lg-12'";
            if ($this->codeResponse == "200") {
                echo" style='border:2px solid green; color:green;'>";
                echo "Blocchi salvati con successo";
            } else {
                echo " style='border:2px solid red; color:red;'>";
                echo "Errore in fase di salvataggio.";
            }
            echo "</div>";
        }
        ?>
    </div>
    <div class="row col-lg-12">
        <form method="post" id='formpage' action="<?= $this->url("*/show/save"); ?>" class="form-horizontal">
            <div class="col-lg-10">
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Url key</label>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <input name="dati[identifier]" type="text" class='form-control required_entry' <?= $disableInput ?> value="<?= (!$this->newPage) ? $this->data->getIdentifier() : NULL ?>" />
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >Categoria</label>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <select id='select_cat' name ="dati[category_id]" class="form-control required_entry categoryclass"  <?= $disableInput ?> >
                            <option value="">Seleziona una Categoria</option>
                            <?php
                            foreach ($arraycategorie as $cate) {
                                echo "<option value='" . $cate['category_id'] . "'";
                                if (!$this->newPage) {
                                    if ($cate['category_id'] == $this->data->getCategory_id()) {
                                        echo "selected";
                                    }
                                }
                                echo ">" . $cate['title'] . "</option>";
                            }
                            ?>
                        </select>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 col-md-3 col-lg-3' >In Homepage</label>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <?php if ($this->newPage) { ?>
                            <input name="dati[is_in_hp]" type="checkbox"   />
                        <?php } else { ?>
                            <?php if ($this->data->getIs_in_hp() == 1) { ?>
                                <input  <?= $disableInput ?> name="dati[is_in_hp]" type="checkbox"  checked/>
                            <?php } else { ?>
                                <input <?= $disableInput ?> name="dati[is_in_hp]" type="checkbox"   />
                            <?php } ?>
                        <?php } ?>
                    </div>
                </div>
                <?php
                foreach ($this->variableattributes as $_attribute) {
                    switch ($_attribute['attribute_type']) {
                        case "date":
                            echo $this->partial("show/p_date.phtml", array("attribute" => $_attribute, "lang" => $lang, "newPage" => $this->newPage, "attributiInLingua" => $this->attributesRealLanguage, "showContent" => ($this->data) ? $this->data : false));
                            break;
                        case "text":
                            echo $this->partial("show/p_textarea.phtml", array("attribute" => $_attribute, "lang" => $lang, "newPage" => $this->newPage, "attributiInLingua" => $this->attributesRealLanguage, "showContent" => ($this->data) ? $this->data : false));
                            break;
                        default:
                            echo $this->partial("show/p_text.phtml", array("attribute" => $_attribute, "lang" => $lang, "newPage" => $this->newPage, "attributiInLingua" => $this->attributesRealLanguage, "showContent" => ($this->data) ? $this->data : false));
                            break;
                    }
                }
                ?>
            </div>
            <div class="row col-lg-2" style="margin-top: 20px">
                <?php
                if (!$this->archived) {
                    if (!$this->newPage) {
                        ?>
                        <input id='delete' class='btn btn-default alert alert-danger' type="submit" value="Elimina Show"/>
                        <input id='archive' class='btn btn-default alert alert-warning' type="submit" value="Archivia Show"/>
                    <?php }
                    ?>
                    <input id='salva' class='btn btn-default alert alert-success' type="submit" value="Salva Show"/>
                    <?php
                } else {
                    ?>
                    <input id='duplicate' class='btn btn-default alert alert-success' type="submit" value="Duplica Show"/>
                    <?php
                }
                ?>
            </div>
        </form>
    </div>
</div>
<div style="position: fixed; z-index: 10000;" id="elfinder"></div>
<div id="dialog"><p>Sei sicuro di voler archiviare lo show?</p></div>
<?php if ($this->archived) { ?>
    <div id="archive_dialog"><p>Sei sicuro di voler duplicare lo show?</p></div>
<?php } ?>
