<!-- One -->
<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Create product</h2>
        <p><?= $this->createError ?></p>
    </header>
    <div class="container">
        <div class="row">
            <div class="12u">
                <?php echo $this->form; ?>
            </div>
        </div>
    </div>
</section>