<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Prodotto - &quot;<?= $this->datiProdotto['name'] ?>&quot;</h2>
    </header>
    <div class="container">
        <div class="12u">
            <?php foreach($this->datiProdotto as $_key => $_value){
                echo "<div class='row'>";
                echo "<div class='3u'>".ucfirst($_key)."</div><div class='8u'>" . $_value . "</div>";
                echo "</div>";
            }
            ?>
        </div>
    </div>
</section>