<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Prodotti</h2>
        <?php
        if(strlen($this->message) > 0) {
            echo "<p style='color: ".$this->messageColor."'>".$this->message."</p>";
        }
        ?><p></p>
    </header>
    <div class="container">
        <?php
        $_totalProducts = count($this->productList);
        if($_totalProducts == 1){
            $_className = "12u";
        } elseif($_totalProducts == 2){
            $_className = "6u";
        } else {
            $_className = "4u";
        }
        foreach($this->productList as $_key => $_product) {
            if ($_key % 3 == 0) {
                echo "<div class=\"row\">";
            }
            ?>
            <div class="<?= $_className ?>">
                <section class="special box">
                    <i class="icon fa-area-chart major"></i>

                    <h3><?= $_product['name'] ?></h3>

                    <p>Qty: <?= $_product['qty'] ?>, Price: <?= $_product['price'] ?>&euro;</p>
                    <p>
                        <?php
                        if($_product['qty'] > 0) {
                            echo "<p><a href='" . $this->url("*/*/buy", array('product_id' => $_product['id'])) ."' class=\"button\">Acquista</a></p>";
                        } else {
                            echo "<p><div class=\"button\">Sold-out</div></p>";
                        }
                        echo "<p><a href='" . Top::getBaseUrl() ."default/productdetail/".$_product['url']."' class=\"button\">Dettagli</a></p>";
                        ?>
                    </p>
                </section>
            </div>
            <?php
            if (($_key !== 0 && $_key % 2 == 0 || $_key == ($_totalProducts - 1)) || ($_totalProducts == 1)) {
                echo "</div>";
            }
        }
        ?>
    </div>
</section>