<form method="post" action="<?= $this->url("*/login/login"); ?>"class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for=login" class="col-sm-2 col-lg-2 control-label">Login</label>
                <div class="col-sm-5 col-lg-5">
                    <input name="login" type="text" class="form-control"  placeholder="Inserisci il nome utente...">
                </div>
            </div>
    
            <div class="form-group">
                <label for="password" class="col-sm-2 col-lg-2 control-label">Password</label>
                <div class="col-sm-5 col-lg-5">
                    <input name="password" type="password" class="form-control"   placeholder="Inserisci la passowrd...">
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-sm-5 col-lg-5 col-sm-offset-2">
                    <input type="submit" class="btn-md alert alert-info" value="SUBMIT"/>
                </div>
            </div>
        </fieldset>
    </form>
   
<?= $this->content; ?>